@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard-Regular";
  letter-spacing: -0.03rem;
  color: #322F2F;
}

img {
  max-width: 100%;
}

.black {
  color: #322F2F;
}

.red {
  color: #E71C29;
}

.blue {
  color: #2471B4;
}

.gray1 {
  color: #848484;
}

.menu_h3 {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.menu_p {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.menu_btn {
  background: #322F2F;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  color: #fff;
  padding: 1.5rem 1.2rem;
}
.menu_btn:hover {
  opacity: 0.8;
}

.right_arrow::after {
  height: 1.4rem;
  width: 0.8rem;
  border-radius: 0;
  display: inline-block;
  content: "";
  background: url("../img/arrow_right.png") no-repeat center/cover;
  margin-left: 2rem;
  vertical-align: middle;
  transform: translateY(-1px);
}

.menu_tit {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.menu_tit:after {
  position: absolute;
  height: 0.8rem;
  width: 105%;
  border-radius: 0 5rem 5rem 0;
  bottom: -1rem;
  left: 0;
  content: "";
  background-color: #2471B4;
}

/* 헤더 - PC(1440) */
header {
  background-color: transparent;
  height: 9rem;
  width: 100%;
  border-radius: 0;
  position: fixed;
  top: 0;
  transition: 0.3s ease-in;
  z-index: 100;
}
header .header_wrap {
  max-width: 1440px;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  /* 로고 */
  /* 헤더 메뉴 */
}
header .header_wrap h1.domino_logo img {
  position: absolute;
  top: 1.2rem;
  left: 3rem;
  width: 25rem;
  transition: 0.3s ease-in;
}
header .header_wrap h1.domino_logo .logo_white {
  opacity: 1;
}
header .header_wrap h1.domino_logo .logo_blue {
  opacity: 0;
}
header .header_wrap nav.header_menu {
  position: absolute;
  top: calc(50% - 1.1rem);
  right: 3rem;
}
header .header_wrap nav.header_menu ul.main_menu {
  display: flex;
  gap: 6.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
header .header_wrap nav.header_menu ul.main_menu li:not(.login):hover {
  opacity: 0.7;
}
header .header_wrap nav.header_menu ul.main_menu li.login {
  display: none;
}
header .header_wrap nav.header_menu .mobile_btn {
  display: none;
}

.scrolling header {
  background-color: #fff;
}
.scrolling header .header_wrap h1.domino_logo .logo_white {
  opacity: 0;
}
.scrolling header .header_wrap h1.domino_logo .logo_blue {
  opacity: 1;
}
.scrolling header nav.header_menu ul.main_menu {
  color: #322F2F;
  font-weight: 600;
}

/* 헤더 1024px */
@media (max-width: 1024px) {
  header .header_wrap {
    /* 헤더 메뉴 */
  }
  header .header_wrap h1.domino_logo img {
    top: 1.5rem;
    left: 2rem;
    width: 20rem;
  }
  header .header_wrap nav.header_menu {
    top: calc(50% - 1.1rem);
    right: 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu {
    gap: 5rem;
    font-size: 1.8rem;
  }
}
/* 헤더 768px */
@media (max-width: 768px) {
  header {
    height: 7rem;
  }
  header .header_wrap {
    height: 7rem;
  }
  header .header_wrap h1.domino_logo img {
    top: 1.3rem;
    left: 2rem;
    width: 15rem;
  }
  header .header_wrap nav.header_menu {
    top: 0;
    right: 0;
    padding: 2.5rem 2rem;
  }
  header .header_wrap nav.header_menu ul.main_menu {
    height: 100vh;
    width: 60vw;
    border-radius: 0;
    position: absolute;
    flex-direction: column;
    font-weight: 600;
    right: -70vw;
    top: 0;
    background-color: rgb(255, 255, 255);
    color: #111;
    gap: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in;
  }
  header .header_wrap nav.header_menu ul.main_menu li {
    border-bottom: 1px solid #eeeeee;
  }
  header .header_wrap nav.header_menu ul.main_menu li:not(.login):hover {
    opacity: 1;
    background-color: #eee;
  }
  header .header_wrap nav.header_menu ul.main_menu li a {
    display: block;
    padding: 2rem 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login {
    display: inline-block;
    font-size: 1.4rem;
    padding-top: 1.5rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login a {
    display: inline-block;
    padding: 1.5rem 1.5rem 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login a:hover {
    opacity: 0.8;
  }
  header .header_wrap nav.header_menu ul.main_menu.on {
    right: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn {
    display: block;
    height: 2.1rem;
    width: 2.6rem;
    border-radius: 0;
    display: block;
    position: relative;
    cursor: pointer;
  }
  header .header_wrap nav.header_menu .mobile_btn span {
    height: 0.3rem;
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    background-color: #fff;
    text-indent: -9999px;
    position: absolute;
    transition: 0.5s ease-in;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(1) {
    top: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(2) {
    top: 0.9rem;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(3) {
    bottom: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span {
    background-color: #111;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(1) {
    top: 0.9rem;
    transform: rotate(45deg);
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(2) {
    top: 0.9rem;
    width: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(3) {
    bottom: 0.9rem;
    transform: rotate(-45deg);
  }
  .scrolling header .header_wrap nav.header_menu .mobile_btn span {
    background-color: #111;
  }
}
.red {
  color: #E71C29;
}

.blue {
  color: #2471B4;
}

.black {
  color: #322F2F;
}

/* 비쥬얼 */
#visual {
  height: 100vh;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
}
#visual img {
  display: none;
}
#visual video {
  height: 100vh;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

/* 헤더 768px */
@media (max-width: 768px) {
  #visual video {
    display: none;
  }
  #visual img {
    display: block;
  }
}
/* ========= main ========= */
/* section1 - 주문 버튼 */
.section1 .main_order {
  position: relative;
  top: -13rem;
  max-width: 92rem;
  margin: auto;
  background: #ffffff;
  border-radius: 3rem;
  padding: 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.section1 .main_order ul {
  display: flex;
}
.section1 .main_order ul li + li {
  border-left: 1px solid rgb(235, 235, 235);
}
.section1 .main_order ul li {
  flex: 1;
}
.section1 .main_order ul li .order_wrap {
  margin-left: 3.5rem;
}
.section1 .main_order ul li .order_wrap .main_order_img {
  width: 20%;
}
.section1 .main_order ul li .order_wrap .main_order_h3 {
  padding: 1rem 0;
  font-size: 5rem;
  font-weight: 300;
}
.section1 .main_order ul li .order_wrap .main_order_h3 i {
  font-size: 3rem;
}
.section1 .main_order ul li .order_wrap .main_order_p {
  font-size: 1.9rem;
  color: #7F8085;
}

@media (max-width: 768px) {
  .section1 .main_order ul li .order_wrap .main_order_h3 {
    font-size: 3rem;
  }
  .section1 .main_order ul li .order_wrap .main_order_p {
    display: none;
  }
}
/* section2 - 메인 피자 메뉴 */
.section2 {
  width: 100%;
  position: relative;
  align-items: center;
}
.section2 h2 {
  letter-spacing: 1;
  position: relative;
  font-family: "Jomhuria";
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 10rem;
}
.section2 .swiper-wrapper {
  margin-top: 3rem;
}
.section2 .swiper-slide {
  text-align: center;
  margin: 0 3px;
}
.section2 .swiper-slide .swiper-slide img {
  width: 30rem;
  height: 30rem;
}
.section2 .swiper-slide h4 {
  font-size: 2.8rem;
  margin-top: 1.5rem;
}
.section2 .swiper-slide p {
  color: #E71C29;
  font-size: 2.8rem;
  font-weight: 600;
}
.section2 .menu-slider {
  height: auto;
  width: 100%;
  border-radius: 0;
}
@media (max-width: 768px) {
  .section2 .swiper-slide {
    text-align: center;
    display: inline-block;
  }
  .section2 .swiper-slide .swiper-slide img {
    width: 30rem;
    height: 30rem;
  }
  .section2 .swiper-slide h4 {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
  .section2 .swiper-slide p {
    color: #E71C29;
    font-size: 2.8rem;
    font-weight: 600;
  }
}

/* section3 */
.section3 {
  margin-top: 20rem;
}
.section3 .chainStore img {
  width: 100%;
}

/* section4*/
.section4 h2 {
  letter-spacing: 1;
  position: relative;
  font-family: "Jomhuria";
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 10rem;
  margin: 10rem 0 5rem;
}
.section4 .event_pc {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 4.5rem;
}
.section4 .event_pc .event_pc_center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .event_pc .event_pc_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .event_ta {
  display: none;
}
.section4 .event_mo {
  display: none;
}
@media (max-width: 1024px) {
  .section4 h2 {
    font-size: 8rem;
  }
  .section4 .event_pc {
    display: none;
  }
  .section4 .event_ta {
    padding: 0 4.5rem;
    display: flex;
    gap: 2rem;
  }
  .section4 .event_ta .event_ta_left a {
    display: block;
  }
  .section4 .event_ta .event_ta_left a + a {
    margin-top: 2rem;
  }
  .section4 .event_ta .event_ta_right a {
    display: block;
  }
  .section4 .event_ta .event_ta_right a + a {
    margin-top: 2rem;
  }
  .section4 .event_mo {
    display: none;
  }
}
@media (max-width: 768px) {
  .section4 h2 {
    font-size: 8rem;
  }
  .section4 .event_pc {
    display: none;
  }
  .section4 .event_ta {
    display: none;
  }
  .section4 .event_mo {
    display: block;
    margin: 0 4rem;
  }
  .section4 .event_mo a {
    display: block;
  }
  .section4 .event_mo a + a {
    margin-top: 2rem;
  }
}

/* 메뉴 서브페이지 헤더 */
main.menu_main .de_header {
  background: url("../img/menu_visual.jpg") center 10%;
  height: 40rem;
  text-align: center;
  padding-top: 16.7rem;
  transition: 0.3s ease;
}
main.menu_main .de_header p {
  font-family: "Jomhuria", serif;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 0 1rem #222;
}
main.menu_main .de_header ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #fff;
  text-shadow: 0 0 3px #222;
}
main.menu_main .de_header ul li a {
  font-size: 2rem;
}
main.menu_main .de_menu_wrap {
  height: 8rem;
  border-bottom: 2px solid #D8DCE0;
}
main.menu_main .de_menu {
  max-width: 1440px;
  height: 8rem;
  margin: 0 auto;
  margin-bottom: 14rem;
  position: relative;
}
main.menu_main .de_menu ul {
  display: flex;
}
main.menu_main .de_menu ul li a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 3rem;
  line-height: 8rem;
  transition: 0.3s;
}
main.menu_main .de_menu ul li.selected a {
  color: #fff;
}
main.menu_main .de_menu .select_bar {
  height: 4rem;
  width: 0;
  border-radius: 8rem;
  background-color: #2471B4;
  position: absolute;
  top: calc(50% - 2rem);
  transition: 0.3s ease-out;
  z-index: -1;
}

/* 메뉴 서브페이지 헤더 - 1024px */
@media (max-width: 1024px) {
  main.menu_main .de_menu ul {
    min-width: 1050px;
  }
}
/* 메뉴 서브페이지 헤더 - 768px */
@media (max-width: 768px) {
  main.menu_main .de_header {
    width: 100%;
    height: 30rem;
    background: url("../img/menu_visual_mobile.jpg") center/cover;
    padding-top: 15rem;
  }
  main.menu_main .de_header p {
    font-size: 9rem;
  }
  main.menu_main .de_header ul {
    display: none;
  }
  main.menu_main .de_menu_wrap {
    height: 6rem;
    border-bottom: 1px solid #D8DCE0;
  }
  main.menu_main .de_menu {
    max-width: 1440px;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  main.menu_main .de_menu ul {
    min-width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main.menu_main .de_menu ul li a {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem;
    line-height: 6rem;
    transition: 0.3s;
  }
  main.menu_main .de_menu .select_bar {
    height: 3rem;
    width: 0;
    border-radius: 8rem;
    background-color: #2471B4;
    position: absolute;
    top: calc(50% - 1.5rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
}
/* 메뉴 유의사항 */
.caution_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
  border-top: 2px solid #D9D9D9;
}
.caution_wrap .caution img {
  height: 5rem;
  width: 5rem;
  border-radius: 0;
}
.caution_wrap .caution1 {
  margin-bottom: 8rem;
}
.caution_wrap .caution1 .menu_h3 {
  margin: 2rem 0;
}
.caution_wrap .caution1 .menu_p {
  line-height: 150%;
}
.caution_wrap .caution2 {
  display: flex;
  gap: 2.4rem;
  padding-bottom: 3rem;
}
.caution_wrap .caution2 .menu_h3 {
  margin: 1.2rem 0 5rem;
}

@media (max-width: 768px) {
  .caution_wrap {
    width: 100%;
  }
  .caution_wrap .caution img {
    height: 4rem;
    width: 4rem;
    border-radius: 0;
  }
  .caution_wrap .caution2 {
    flex-direction: column;
    gap: 2rem;
  }
  .caution_wrap .caution2 .menu_h3 {
    line-height: 150%;
  }
  .caution_wrap .caution2 .menu_btn {
    font-size: 1.6rem;
  }
}
/* 피자 목록 */
.menu_list_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.menu_list_wrap .menu_list {
  padding: 4rem;
}
.menu_list_wrap .menu_list .menu_tit {
  margin-bottom: 4.5rem;
}
.menu_list_wrap .menu_list .menu_ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
  min-width: 91rem;
  padding: 0 2rem;
}
.menu_list_wrap .menu_list .menu_ul li {
  width: 33.3%;
  padding: 1.2rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_name {
  font-size: 2.6rem;
  font-weight: 900;
  margin-top: 1.4rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_info {
  font-size: 1.5rem;
  font-weight: 300;
  min-height: 4rem;
  color: #828282;
  margin: 0.8rem 0 2rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_Lprice {
  display: inline-block;
  font-size: 2.2rem;
  color: #E71C29;
  font-weight: 900;
}
.menu_list_wrap .menu_list .menu_ul li .menu_Rprice {
  display: inline-block;
  font-size: 2.2rem;
  color: #2471B4;
  font-weight: 900;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .menu_list_wrap {
    width: 100%;
  }
  .menu_list_wrap .menu_list .menu_tit {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
  .menu_list_wrap .menu_list .menu_ul {
    min-width: auto;
    padding: 0;
  }
  .menu_list_wrap .menu_list .menu_ul li {
    width: 100%;
    padding: 0;
    border-radius: 2.2rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .menu_list_wrap .menu_list .menu_ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
  }
  .menu_list_wrap .menu_list .menu_ul li img {
    width: 42%;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_name {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 0;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_info {
    font-size: 1.4rem;
    font-weight: 300;
    min-height: 4rem;
    color: #828282;
    margin: 0.8rem 0 2rem;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_Lprice {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_Rprice {
    display: block;
    font-size: 1.6rem;
    margin: 0;
  }
}
/* side */
.menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_name {
  font-size: 2.4rem;
}
.menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_Lprice, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_Lprice, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_Lprice {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_name {
    font-size: 1.8rem;
  }
}
.de_visual {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.de_visual .de_visualPc {
  height: 60rem;
}
.de_visual .de_visualMo {
  display: none;
}
.de_visual .de_visual_op .op_txt {
  margin-bottom: 2.5rem;
}
.de_visual .de_visual_op .op_txt h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #E71C29;
  margin-bottom: 1.5rem;
}
.de_visual .de_visual_op .op_txt p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.de_visual .de_visual_op .op_txt a {
  font-size: 1.2rem;
  color: #999;
}
.de_visual .de_visual_op .op_txt a:hover {
  color: #6d6d6d;
}
.de_visual .de_visual_op .op_size {
  margin-bottom: 2.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #999999;
}
.de_visual .de_visual_op .op_size .size_btn {
  border: 0.3rem solid #E71C29;
  background: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 20rem;
  color: #E71C29;
  cursor: pointer;
  transition: 0.3s;
}
.de_visual .de_visual_op .op_size .size_btn:hover {
  background: #E71C29;
  color: #fff;
}
.de_visual .de_visual_op .op_size .size_btn:first-child {
  margin-right: 3rem;
}
.de_visual .de_visual_op .op_sel .op_select {
  position: relative;
  margin-bottom: 2.5rem;
}
.de_visual .de_visual_op .op_sel .op_select p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.de_visual .de_visual_op .op_sel .op_select p i {
  position: absolute;
  top: -0.2rem;
  margin-left: 1rem;
}
.de_visual .de_visual_op .op_sel .op_select span {
  position: absolute;
  top: 0.8rem;
  right: 3rem;
  font-size: 1.2rem;
  color: #999;
  font-weight: 300;
}
.de_visual .de_visual_op .op_sel .op_select .select {
  border: none;
  outline: none;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1.6rem;
  width: 32rem;
  background: #f5f5f5;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.de_visual .de_visual_op .op_sel .amount {
  border-bottom: 1px solid #999999;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.de_visual .de_visual_op .op_sel .amount .amount_select {
  display: flex;
  gap: 5rem;
  margin-right: 5rem;
}
.de_visual .de_visual_op .op_sel .amount .amount_select .amount_btn {
  transform: translateY(-0.7rem);
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;
}
.de_visual .de_visual_op .op_sel .amount .amount_select .amount_btn:hover {
  color: #E71C29;
  scale: 1.3;
}
.de_visual .de_visual_op .op_sel .amount .amount_select p {
  font-size: 2rem;
}
.de_visual .de_visual_op .op_sel_mo {
  display: none;
}
.de_visual .de_visual_op .op_total {
  margin-top: 4rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.de_visual .de_visual_op .op_total p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.de_visual .de_visual_op .op_total .total {
  color: #E71C29;
}
.de_visual .de_visual_op .op_buy {
  margin-top: 8rem;
}
.de_visual .de_visual_op .op_buy .buy_btn {
  border: 0.3rem solid #2471B4;
  background: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.7rem 2.5rem;
  border-radius: 20rem;
  color: #2471B4;
  cursor: pointer;
  transition: 0.3s;
}
.de_visual .de_visual_op .op_buy .buy_btn:hover {
  background: #2471B4;
  color: #fff;
}
.de_visual .de_visual_op .op_buy .buy_btn:first-child {
  margin-right: 3rem;
}

/**********1024이하********/
@media (max-width: 1024px) {
  .de_visual {
    gap: 3rem;
  }
  .de_visual img {
    height: 50rem;
  }
  .de_visual .de_visual_op .op_txt {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_txt h2 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }
  .de_visual .de_visual_op .op_txt p {
    font-size: 1.4rem;
  }
  .de_visual .de_visual_op .op_txt a {
    font-size: 1.1rem;
  }
  .de_visual .de_visual_op .op_size {
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_size .size_btn {
    font-size: 1.8rem;
    padding: 0.8rem 1.8rem;
  }
  .de_visual .de_visual_op .op_size .size_btn:first-child {
    margin-right: 1.8rem;
  }
  .de_visual .de_visual_op .op_sel .op_select {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_sel .op_select p {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }
  .de_visual .de_visual_op .op_sel .op_select p i {
    position: absolute;
    top: 0rem;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .de_visual .de_visual_op .op_sel .op_select span {
    font-size: 1rem;
  }
  .de_visual .de_visual_op .op_sel .op_select .select {
    font-size: 1.3rem;
  }
  .de_visual .de_visual_op .op_sel .amount .amount_select p {
    font-size: 1.8rem;
  }
  .de_visual .de_visual_op .op_total {
    margin-top: 3rem;
    gap: 3rem;
  }
  .de_visual .de_visual_op .op_total p {
    font-size: 2.3rem;
  }
  .de_visual .de_visual_op .op_buy {
    margin-top: 6rem;
  }
  .de_visual .de_visual_op .op_buy .buy_btn {
    font-size: 2rem;
    padding: 0.7rem 2.3rem;
  }
  .de_visual .de_visual_op .op_buy .buy_btn:first-child {
    margin-right: 2.5rem;
  }
}
@media (max-width: 768px) {
  .de_visual {
    display: block;
  }
  .de_visual .de_visual_img {
    margin-bottom: 5rem;
  }
  .de_visual .de_visual_img .de_visualPc {
    display: none;
  }
  .de_visual .de_visual_img .de_visualMo {
    display: block;
    height: 26rem;
    margin: auto;
  }
  .de_visual .de_visual_op .op_txt {
    margin: 0 auto 3rem;
    width: 50rem;
    padding: 0 1rem;
  }
  .de_visual .de_visual_op .op_txt p {
    font-weight: 700;
  }
  .de_visual .de_visual_op .de_option {
    background: #F5F5F5;
  }
  .de_visual .de_visual_op .de_option .op_size {
    border: none;
    margin: 0;
    padding: 0;
  }
  .de_visual .de_visual_op .de_option .op_size .size_btn {
    display: none;
  }
  .de_visual .de_visual_op .de_option .op_sel {
    display: none;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo {
    display: block;
    margin: auto;
    width: 45rem;
    padding: 2.5rem 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo > div {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form {
    padding: 0 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=radio]:checked {
    accent-color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=checkbox]:checked {
    accent-color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form label {
    margin: 0 0 1rem 2rem;
    font-size: 1.6rem;
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
