@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  letter-spacing: -0.03rem;
  color: #322F2F;
}

img {
  max-width: 100%;
}

.black {
  color: #322F2F;
}

.red {
  color: #E71C29;
}

.blue {
  color: #2471B4;
}

.gray1 {
  color: #848484;
}

.menu_h3 {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.menu_p {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.menu_btn {
  background: #322F2F;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  color: #fff;
  padding: 1.5rem 1.2rem;
}
.menu_btn:hover {
  opacity: 0.8;
}

.right_arrow::after {
  height: 1.4rem;
  width: 0.8rem;
  border-radius: 0;
  display: inline-block;
  content: "";
  background: url("../img/arrow_right.png") no-repeat center/cover;
  margin-left: 2rem;
  vertical-align: middle;
  transform: translateY(-1px);
}

.menu_tit {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.menu_tit:after {
  position: absolute;
  height: 0.8rem;
  width: 105%;
  border-radius: 0 5rem 5rem 0;
  bottom: -1rem;
  left: 0;
  content: "";
  background-color: #2471B4;
}

/* 헤더 - PC(1440) */
header {
  background-color: transparent;
  height: 9rem;
  width: 100%;
  border-radius: 0;
  position: fixed;
  top: 0;
  transition: 0.3s ease-in;
  z-index: 100;
}
header .header_wrap {
  max-width: 1440px;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  /* 로고 */
  /* 헤더 메뉴 */
}
header .header_wrap h1.domino_logo img {
  position: absolute;
  top: 1.2rem;
  left: 3rem;
  width: 25rem;
  transition: 0.3s ease-in;
}
header .header_wrap h1.domino_logo .logo_white {
  opacity: 1;
}
header .header_wrap h1.domino_logo .logo_blue {
  opacity: 0;
}
header .header_wrap nav.header_menu {
  position: absolute;
  top: calc(50% - 1.1rem);
  right: 3rem;
}
header .header_wrap nav.header_menu ul.main_menu {
  display: flex;
  gap: 6.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
header .header_wrap nav.header_menu ul.main_menu li:not(.login):hover {
  opacity: 0.7;
}
header .header_wrap nav.header_menu ul.main_menu li.login {
  display: none;
}
header .header_wrap nav.header_menu .mobile_btn {
  display: none;
}

.scrolling header {
  background-color: #fff;
}
.scrolling header .header_wrap h1.domino_logo .logo_white {
  opacity: 0;
}
.scrolling header .header_wrap h1.domino_logo .logo_blue {
  opacity: 1;
}
.scrolling header nav.header_menu ul.main_menu {
  color: #322F2F;
  font-weight: 600;
}

/* 헤더 1024px */
@media (max-width: 1024px) {
  header .header_wrap {
    /* 헤더 메뉴 */
  }
  header .header_wrap h1.domino_logo img {
    top: 1.5rem;
    left: 2rem;
    width: 20rem;
  }
  header .header_wrap nav.header_menu {
    top: calc(50% - 1.1rem);
    right: 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu {
    gap: 5rem;
    font-size: 1.8rem;
  }
}
/* 헤더 768px */
@media (max-width: 768px) {
  header {
    height: 7rem;
  }
  header .header_wrap {
    height: 7rem;
  }
  header .header_wrap h1.domino_logo img {
    top: 1.3rem;
    left: 2rem;
    width: 15rem;
  }
  header .header_wrap nav.header_menu {
    top: 0;
    right: 0;
    padding: 2.5rem 2rem;
  }
  header .header_wrap nav.header_menu ul.main_menu {
    height: 100vh;
    width: 60vw;
    border-radius: 0;
    position: absolute;
    flex-direction: column;
    font-weight: 600;
    right: -70vw;
    top: 0;
    background-color: rgb(255, 255, 255);
    color: #111;
    gap: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in;
  }
  header .header_wrap nav.header_menu ul.main_menu li {
    border-bottom: 1px solid #eeeeee;
  }
  header .header_wrap nav.header_menu ul.main_menu li:not(.login):hover {
    opacity: 1;
    background-color: #eee;
  }
  header .header_wrap nav.header_menu ul.main_menu li a {
    display: block;
    padding: 2rem 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login {
    display: inline-block;
    font-size: 1.4rem;
    padding-top: 1.5rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login a {
    display: inline-block;
    padding: 1.5rem 1.5rem 3rem;
  }
  header .header_wrap nav.header_menu ul.main_menu li.login a:hover {
    opacity: 0.8;
  }
  header .header_wrap nav.header_menu ul.main_menu.on {
    right: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn {
    display: block;
    height: 2.1rem;
    width: 2.6rem;
    border-radius: 0;
    display: block;
    position: relative;
    cursor: pointer;
  }
  header .header_wrap nav.header_menu .mobile_btn span {
    height: 0.3rem;
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    background-color: #fff;
    text-indent: -9999px;
    position: absolute;
    transition: 0.5s ease-in;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(1) {
    top: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(2) {
    top: 0.9rem;
  }
  header .header_wrap nav.header_menu .mobile_btn span:nth-child(3) {
    bottom: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span {
    background-color: #111;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(1) {
    top: 0.9rem;
    transform: rotate(45deg);
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(2) {
    top: 0.9rem;
    width: 0;
  }
  header .header_wrap nav.header_menu .mobile_btn.on span:nth-child(3) {
    bottom: 0.9rem;
    transform: rotate(-45deg);
  }
  .scrolling header .header_wrap nav.header_menu .mobile_btn span {
    background-color: #111;
  }
}
/* 푸터 - PC(1440) */
footer {
  background-color: #2471B4;
}
footer .footer_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  color: #fff;
  padding: 2rem 0;
}
footer .footer_wrap .footer_section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer_wrap .footer_section1 .footer_logo img {
  width: 32rem;
}
footer .footer_wrap .footer_section1 .footer_logo h2 {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1rem;
}
footer .footer_wrap .footer_section1 .footer_nav li {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  letter-spacing: 0.5px;
}
footer .footer_wrap .footer_section2 {
  display: flex;
  justify-content: space-between;
}
footer .footer_wrap .footer_section2 .footer2_left .footer_info {
  font-size: 1.3rem;
  margin: 5rem 0;
}
footer .footer_wrap .footer_section2 .footer2_left address {
  font-size: 1.3rem;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
footer .footer_wrap .footer_section2 .footer2_right .footer_prize {
  display: flex;
  gap: 2rem;
  margin: 5rem 0 10rem;
}
footer .footer_wrap .footer_section2 .footer2_right .footer_prize .prize_card {
  display: flex;
  gap: 1rem;
}
footer .footer_wrap .footer_section2 .footer2_right .footer_prize .prize_card img {
  width: 3rem;
}
footer .footer_wrap .footer_section2 .footer2_right .footer_prize .prize_card p {
  font-size: 1.2rem;
}
footer .footer_wrap .footer_section2 .footer2_right .footer_sns {
  text-align: right;
}
footer .footer_wrap .footer_section2 .footer2_right .footer_sns a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 0;
  margin-left: 2rem;
}

@media (max-width: 1210px) {
  footer .footer_wrap {
    width: 100%;
    padding: 2rem;
  }
  footer .footer_wrap .footer_section1 .footer_logo img {
    width: 30rem;
  }
  footer .footer_wrap .footer_section1 .footer_nav ul {
    width: 40rem;
    text-align: right;
  }
  footer .footer_wrap .footer_section2 .footer2_left .footer_info {
    font-size: 1.2rem;
  }
  footer .footer_wrap .footer_section2 .footer2_left address {
    font-size: 1.1rem;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_prize {
    display: flex;
    gap: 1rem;
    margin: 5rem 0 10rem;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_prize .prize_card img {
    width: 2.5rem;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_prize .prize_card p {
    font-size: 1.1rem;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_sns {
    text-align: right;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_sns a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 0;
    margin-left: 2rem;
  }
}
@media (max-width: 940px) {
  footer .footer_wrap {
    position: relative;
  }
  footer .footer_wrap .footer_section1 .footer_nav {
    display: none;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_prize {
    display: none;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_sns {
    position: absolute;
    top: 6rem;
    right: 2rem;
  }
}
@media (max-width: 768px) {
  footer .footer_wrap {
    padding: 5rem 2rem;
    position: relative;
  }
  footer .footer_wrap .footer_section1 .footer_logo img {
    width: 15rem;
  }
  footer .footer_wrap .footer_section1 .footer_logo h2 {
    font-size: 2rem;
  }
  footer .footer_wrap .footer_section2 .footer2_left {
    display: none;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_sns {
    position: absolute;
    top: calc(50% - 1rem);
    right: 2rem;
  }
  footer .footer_wrap .footer_section2 .footer2_right .footer_sns a {
    width: 2rem;
    margin-left: 1rem;
  }
}
@media (max-width: 390px) {
  footer .footer_wrap .footer_section1 .footer_logo h2 {
    display: none;
  }
}
/* 탑버튼 */
.top_btn {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: -10rem;
  background: transparent url("../img/top.png") no-repeat center/45%;
  z-index: 99999;
  transition: 0.2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.top_btn:hover {
  background: #111 url("../img/top_white.png") no-repeat center/45%;
}
.top_btn.active {
  right: 3rem;
}

@media (max-width: 768px) {
  .top_btn {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    bottom: 1rem;
  }
  .top_btn.active {
    right: 1rem;
  }
}
/* 비쥬얼 */
#visual {
  height: 100vh;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
}
#visual img {
  display: none;
}
#visual video {
  height: 100vh;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

@media (max-width: 768px) {
  #visual video {
    display: none;
  }
  #visual img {
    display: block;
  }
}
/* ========= main ========= */
/* section1 - 주문 버튼 */
.section1 .main_order {
  position: relative;
  top: 0;
  max-width: 92rem;
  margin: auto;
  background: #ffffff;
  border-radius: 3rem;
  padding: 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.section1 .main_order.order_scroll {
  top: -13rem;
}
.section1 .main_order ul {
  display: flex;
}
.section1 .main_order ul li + li {
  border-left: 1px solid rgb(235, 235, 235);
}
.section1 .main_order ul li {
  flex: 1;
}
.section1 .main_order ul li .order_wrap {
  margin-left: 3.5rem;
}
.section1 .main_order ul li .order_wrap .main_order_img {
  width: 20%;
}
.section1 .main_order ul li .order_wrap .main_order_h3 {
  padding: 1rem 0;
  font-size: 5rem;
  font-weight: 300;
}
.section1 .main_order ul li .order_wrap .main_order_h3 i {
  font-size: 3rem;
}
.section1 .main_order ul li .order_wrap .main_order_p {
  font-size: 1.9rem;
  color: #7F8085;
}

@media (max-width: 1024px) {
  .section1 .main_order {
    margin: 0 5rem;
  }
  .section1 .main_order ul li .order_wrap .main_order_h3 {
    font-size: 4rem;
  }
  .section1 .main_order ul li .order_wrap .main_order_p {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .section1 .main_order {
    margin: 0 2rem;
    padding: 3rem 0;
    text-align: center;
  }
  .section1 .main_order ul li .order_wrap {
    margin-left: 0;
  }
  .section1 .main_order ul li .order_wrap .main_order_h3 {
    font-size: 3rem;
    line-height: 150%;
  }
  .section1 .main_order ul li .order_wrap .main_order_h3 i {
    display: block;
  }
  .section1 .main_order ul li .order_wrap .main_order_p {
    display: none;
  }
}
/* section2 - 메인 피자 메뉴 */
.section2 {
  width: 100%;
  position: relative;
  align-items: center;
}
.section2 h2 {
  letter-spacing: 1;
  position: relative;
  font-family: "Jomhuria";
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 10rem;
}
.section2 .swiper-wrapper {
  margin-top: 3rem;
}
.section2 .swiper-slide {
  text-align: center;
  margin: 0 3px;
}
.section2 .swiper-slide .swiper-slide img {
  width: 30rem;
  height: 30rem;
}
.section2 .swiper-slide h4 {
  font-size: 2.8rem;
  margin-top: 1.5rem;
}
.section2 .swiper-slide p {
  color: #E71C29;
  font-size: 2.8rem;
  font-weight: 600;
}
.section2 .menu-slider {
  height: auto;
  width: 100%;
  border-radius: 0;
}
@media (max-width: 768px) {
  .section2 .swiper-slide {
    text-align: center;
    display: inline-block;
  }
  .section2 .swiper-slide .swiper-slide img {
    width: 30rem;
    height: 30rem;
  }
  .section2 .swiper-slide h4 {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
  .section2 .swiper-slide p {
    color: #E71C29;
    font-size: 2.8rem;
    font-weight: 600;
  }
}

/* section3 - 도미노피자(흑백이미지) */
.section3 {
  margin-top: 20rem;
}
.section3 .chainStore img {
  width: 100%;
}

/* section4 - 이벤트& 프로모션 */
.section4 h2 {
  letter-spacing: 1;
  position: relative;
  font-family: "Jomhuria";
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 10rem;
  margin: 10rem 0 5rem;
}
.section4 .event_pc {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 4.5rem;
}
.section4 .event_pc .event_pc_center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .event_pc .event_pc_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .event_ta {
  display: none;
}
.section4 .event_mo {
  display: none;
}
@media (max-width: 1024px) {
  .section4 h2 {
    font-size: 8rem;
  }
  .section4 .event_pc {
    display: none;
  }
  .section4 .event_ta {
    padding: 0 4.5rem;
    display: flex;
    gap: 2rem;
  }
  .section4 .event_ta .event_ta_left a {
    display: block;
  }
  .section4 .event_ta .event_ta_left a + a {
    margin-top: 2rem;
  }
  .section4 .event_ta .event_ta_right a {
    display: block;
  }
  .section4 .event_ta .event_ta_right a + a {
    margin-top: 2rem;
  }
  .section4 .event_mo {
    display: none;
  }
}
@media (max-width: 768px) {
  .section4 h2 {
    font-size: 8rem;
  }
  .section4 .event_pc {
    display: none;
  }
  .section4 .event_ta {
    display: none;
  }
  .section4 .event_mo {
    display: block;
    margin: 0 4rem;
  }
  .section4 .event_mo a {
    display: block;
  }
  .section4 .event_mo a + a {
    margin-top: 2rem;
  }
}

/* section5 - 매장 찾기*/
.section5 {
  margin: 20rem 0;
  background: url("../img/search_bg.jpg") no-repeat center/cover;
}
.section5 .main_search_wrap {
  max-width: 1440px;
  height: 50rem;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section5 .main_search_wrap h2 {
  font-size: 4.8rem;
  letter-spacing: 1px;
}
.section5 .main_search_wrap span {
  font-size: 4rem;
  font-weight: 100;
}
.section5 .main_search_wrap p {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin: 5rem 0;
}
.section5 .serachBar_wrap {
  width: 70vw;
  max-width: 1000px;
  position: relative;
}
.section5 .serachBar_wrap input#searchBar {
  height: 7rem;
  width: 100%;
  border-radius: 7rem;
  border: none;
  outline: none;
  font-size: 2rem;
  padding-left: 3rem;
}
.section5 .serachBar_wrap input#searchBar::placeholder {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2rem;
}
.section5 .serachBar_wrap button.searchBtn {
  height: 5.7rem;
  width: 5.7rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: #E71C29;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  cursor: pointer;
}
.section5 .serachBar_wrap button.searchBtn img {
  width: 3rem;
}
.section5 .serachBar_wrap button.searchBtn:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .section5 .main_search_wrap {
    width: 100%;
  }
  .section5 .serachBar_wrap {
    width: 90%;
  }
  .section5 .serachBar_wrap input#searchBar {
    height: 5.5rem;
    width: 100%;
    border-radius: 5.5rem;
  }
  .section5 .serachBar_wrap button.searchBtn {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 5rem;
    top: 0.5rem;
    right: 0.7rem;
  }
  .section5 .serachBar_wrap button.searchBtn img {
    width: 2.5rem;
  }
}
@media (max-width: 768px) {
  .section5 {
    margin: 12rem 0;
  }
  .section5 .main_search_wrap {
    width: 100%;
    align-items: baseline;
    padding-left: 5rem;
  }
  .section5 .main_search_wrap h2 {
    font-size: 3.2rem;
    letter-spacing: 1px;
  }
  .section5 .main_search_wrap span {
    font-size: 2.8rem;
    font-weight: 100;
  }
  .section5 .main_search_wrap p {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.25px;
    margin: 4rem 0;
  }
  .section5 .serachBar_wrap input#searchBar {
    height: 5rem;
    width: 100%;
    border-radius: 5rem;
    font-size: 1.6rem;
  }
  .section5 .serachBar_wrap input#searchBar::placeholder {
    font-size: 1.6rem;
  }
  .section5 .serachBar_wrap button.searchBtn {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    top: 0.5rem;
    right: 0.7rem;
  }
  .section5 .serachBar_wrap button.searchBtn img {
    width: 2rem;
  }
}
/* section6 - 도미노 stroy */
.section6 .main_info_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding-bottom: 20rem;
}
.section6 .main_info_wrap article.hover_card {
  flex: 2;
}
.section6 .main_info_wrap article.hover_card .card_txt {
  opacity: 1;
}
.section6 .main_info_wrap article.hover_card:hover .card_txt .long_arrow {
  transform: translateX(10px);
}
.section6 .main_info_wrap article.hover_card:hover .card_img {
  transform: scale(1.05);
}
.section6 .main_info_wrap article:not(.hover_card) {
  opacity: 0.5;
  flex: 1;
}
.section6 .main_info_wrap article:not(.hover_card) .card_txt {
  opacity: 0;
}
.section6 .main_info_wrap .info_card_wrap {
  height: 60rem;
  width: 100%;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.section6 .main_info_wrap .info_card_wrap .card_img {
  height: 60rem;
  width: 100%;
  border-radius: 3rem;
  background: no-repeat center/cover;
  transition: 0.3s ease-in;
}
.section6 .main_info_wrap .info_card_wrap:nth-of-type(1) .card_img {
  background-image: url("../img/card1.jpg");
}
.section6 .main_info_wrap .info_card_wrap:nth-of-type(2) .card_img {
  background-image: url("../img/card2.jpg");
}
.section6 .main_info_wrap .info_card_wrap:nth-of-type(3) .card_img {
  background-image: url("../img/card3.jpg");
}
.section6 .main_info_wrap .card_txt {
  position: absolute;
  top: 10rem;
  right: 5rem;
  transition: 0.5s ease-in;
  color: #fff;
  text-align: right;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  z-index: 1;
}
.section6 .main_info_wrap .card_txt span {
  font-size: 2.8rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}
.section6 .main_info_wrap .card_txt h3 {
  font-size: 4.8rem;
  font-weight: 400;
  margin: 0.5rem 0 3rem;
}
.section6 .main_info_wrap .card_txt p {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 5rem;
}
.section6 .main_info_wrap .card_txt .long_arrow {
  height: 0.2rem;
  width: 25rem;
  border-radius: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
.section6 .main_info_wrap .card_txt .long_arrow::after {
  height: 0.2rem;
  width: 2.5rem;
  border-radius: 0;
  display: block;
  content: "";
  background-color: #fff;
  transform: rotate(40deg);
  position: absolute;
  right: -3px;
  bottom: 8px;
}

@media (max-width: 768px) {
  .section6 .main_info_wrap {
    width: 100%;
    padding-bottom: 10rem;
  }
  .section6 .main_info_wrap article.hover_card {
    flex: 4;
  }
  .section6 .main_info_wrap .info_card_wrap {
    height: 50rem;
  }
  .section6 .main_info_wrap .card_txt {
    top: 8rem;
    right: 3rem;
  }
  .section6 .main_info_wrap .card_txt span {
    font-size: 1.8rem;
  }
  .section6 .main_info_wrap .card_txt h3 {
    font-size: 3.8rem;
  }
  .section6 .main_info_wrap .card_txt p {
    font-size: 2rem;
  }
  .section6 .main_info_wrap .card_txt .long_arrow {
    height: 0.2rem;
    width: 18rem;
    border-radius: 0;
  }
}
/* gsap */
.section2 h2, .section2 .swiper-wrapper > *, .section3 > *, .section4 h2, .section4 > div, .section5 .main_search_wrap > * {
  opacity: 0;
  transform: translateY(30px);
}

.section6 > .main_info_wrap > article {
  transform: translateY(30px);
}

/* 메뉴 서브페이지 헤더 */
main.menu_main .de_header {
  background: url("../img/menu_visual.jpg") center 10%;
  height: 40rem;
  text-align: center;
  padding-top: 16.7rem;
  transition: 0.3s ease;
}
main.menu_main .de_header p {
  font-family: "Jomhuria", serif;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 0 1rem #222;
}
main.menu_main .de_header ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #fff;
  text-shadow: 0 0 3px #222;
}
main.menu_main .de_header ul li a {
  font-size: 2rem;
}
main.menu_main .de_menu_wrap {
  height: 8rem;
  border-bottom: 2px solid #D8DCE0;
}
main.menu_main .de_menu {
  max-width: 1440px;
  height: 8rem;
  margin: 0 auto;
  margin-bottom: 14rem;
  position: relative;
}
main.menu_main .de_menu ul {
  display: flex;
}
main.menu_main .de_menu ul li a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 3rem;
  line-height: 8rem;
  transition: 0.3s;
}
main.menu_main .de_menu ul li.selected a {
  color: #fff;
}
main.menu_main .de_menu .select_bar {
  height: 4rem;
  width: 0;
  border-radius: 8rem;
  background-color: #2471B4;
  position: absolute;
  top: calc(50% - 2rem);
  transition: 0.3s ease-out;
  z-index: -1;
}

/* 메뉴 서브페이지 헤더 - 1024px */
@media (max-width: 1024px) {
  main.menu_main .de_menu ul {
    min-width: 1050px;
  }
}
/* 메뉴 서브페이지 헤더 - 768px */
@media (max-width: 768px) {
  main.menu_main .de_header {
    width: 100%;
    height: 30rem;
    background: url("../img/menu_visual_mobile.jpg") center/cover;
    padding-top: 15rem;
  }
  main.menu_main .de_header p {
    font-size: 9rem;
  }
  main.menu_main .de_header ul {
    display: none;
  }
  main.menu_main .de_menu_wrap {
    height: 6rem;
    border-bottom: 1px solid #D8DCE0;
  }
  main.menu_main .de_menu {
    max-width: 1440px;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  main.menu_main .de_menu ul {
    min-width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main.menu_main .de_menu ul li a {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem;
    line-height: 6rem;
    transition: 0.3s;
  }
  main.menu_main .de_menu .select_bar {
    height: 3rem;
    width: 0;
    border-radius: 8rem;
    background-color: #2471B4;
    position: absolute;
    top: calc(50% - 1.5rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
}
/* 메뉴 유의사항 */
.caution_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
  border-top: 2px solid #D9D9D9;
}
.caution_wrap .caution img {
  height: 5rem;
  width: 5rem;
  border-radius: 0;
}
.caution_wrap .caution1 {
  margin-bottom: 8rem;
}
.caution_wrap .caution1 .menu_h3 {
  margin: 2rem 0;
}
.caution_wrap .caution1 .menu_p {
  line-height: 150%;
}
.caution_wrap .caution2 {
  display: flex;
  gap: 2.4rem;
  padding-bottom: 3rem;
}
.caution_wrap .caution2 .menu_h3 {
  margin: 1.2rem 0 5rem;
}

@media (max-width: 768px) {
  .caution_wrap {
    width: 100%;
  }
  .caution_wrap .caution img {
    height: 4rem;
    width: 4rem;
    border-radius: 0;
  }
  .caution_wrap .caution2 {
    flex-direction: column;
    gap: 2rem;
  }
  .caution_wrap .caution2 .menu_h3 {
    line-height: 150%;
  }
  .caution_wrap .caution2 .menu_btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 390px) {
  .caution_wrap .caution2 {
    flex-direction: column;
    gap: 2rem;
  }
  .caution_wrap .caution2 .menu_btn {
    font-size: 1.2rem;
  }
}
/* 피자 목록 */
.menu_list_wrap {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.menu_list_wrap .menu_list {
  padding: 4rem;
}
.menu_list_wrap .menu_list .menu_tit {
  margin-bottom: 4.5rem;
}
.menu_list_wrap .menu_list .menu_ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
  min-width: 91rem;
  padding: 0 2rem;
}
.menu_list_wrap .menu_list .menu_ul li {
  width: 33.3%;
  padding: 1.2rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_name {
  font-size: 2.6rem;
  font-weight: 900;
  margin-top: 1.4rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_info {
  font-size: 1.5rem;
  font-weight: 300;
  min-height: 4rem;
  color: #828282;
  margin: 0.8rem 0 2rem;
}
.menu_list_wrap .menu_list .menu_ul li .menu_Lprice {
  display: inline-block;
  font-size: 2.2rem;
  color: #E71C29;
  font-weight: 900;
}
.menu_list_wrap .menu_list .menu_ul li .menu_Rprice {
  display: inline-block;
  font-size: 2.2rem;
  color: #2471B4;
  font-weight: 900;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .menu_list_wrap {
    width: 100%;
  }
  .menu_list_wrap .menu_list .menu_tit {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
  .menu_list_wrap .menu_list .menu_ul {
    min-width: auto;
    padding: 0;
  }
  .menu_list_wrap .menu_list .menu_ul li {
    width: 100%;
    height: 20rem;
    padding: 0;
    border-radius: 2.2rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .menu_list_wrap .menu_list .menu_ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
  }
  .menu_list_wrap .menu_list .menu_ul li img {
    height: 20rem;
    object-fit: cover;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_txt {
    padding: 2rem 2rem 2rem 1rem;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_name {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 0;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_info {
    font-size: 1.4rem;
    font-weight: 300;
    min-height: 4rem;
    color: #828282;
    margin: 0.8rem 0 2rem;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_Lprice {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_Rprice {
    display: block;
    font-size: 1.6rem;
    margin: 0;
  }
}
@media (max-width: 390px) {
  .menu_list_wrap {
    width: 100%;
  }
  .menu_list_wrap .menu_list {
    padding: 2rem;
  }
  .menu_list_wrap .menu_list .menu_ul li {
    height: auto;
  }
  .menu_list_wrap .menu_list .menu_ul li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #fff;
  }
  .menu_list_wrap .menu_list .menu_ul li img {
    height: 20rem;
    width: 100%;
  }
  .menu_list_wrap .menu_list .menu_ul li .menu_txt {
    padding: 2rem;
  }
}
/* side */
.menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_name {
  font-size: 2.4rem;
}
.menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_Lprice, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_Lprice, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_Lprice {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .menu_list_wrap .menu_list .menu_ul.menu_combo li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_side li .menu_name, .menu_list_wrap .menu_list .menu_ul.menu_etc li .menu_name {
    font-size: 1.8rem;
  }
}
.de_visual {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 10rem auto;
}
.de_visual .de_visualPc {
  height: 60rem;
}
.de_visual .de_visualMo {
  display: none;
}
.de_visual .de_visual_op .op_txt {
  margin-bottom: 2.5rem;
}
.de_visual .de_visual_op .op_txt h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #E71C29;
  margin-bottom: 1.5rem;
}
.de_visual .de_visual_op .op_txt p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.de_visual .de_visual_op .op_txt a {
  font-size: 1.2rem;
  color: #999;
}
.de_visual .de_visual_op .op_txt a:hover {
  color: #6d6d6d;
}
.de_visual .de_visual_op .op_size {
  margin-bottom: 2.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #999999;
}
.de_visual .de_visual_op .op_size .size_btn {
  border: 0.3rem solid #E71C29;
  background: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 20rem;
  color: #E71C29;
  cursor: pointer;
  transition: 0.3s;
}
.de_visual .de_visual_op .op_size .size_btn:hover {
  background: #E71C29;
  color: #fff;
}
.de_visual .de_visual_op .op_size .size_btn.stop {
  background: #E71C29;
  color: #fff;
}
.de_visual .de_visual_op .op_size .size_btn:first-child {
  margin-right: 3rem;
}
.de_visual .de_visual_op .op_sel .op_select {
  position: relative;
  margin-bottom: 2.5rem;
}
.de_visual .de_visual_op .op_sel .op_select p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.de_visual .de_visual_op .op_sel .op_select p i {
  position: absolute;
  top: -0.2rem;
  margin-left: 1rem;
}
.de_visual .de_visual_op .op_sel .op_select span {
  position: absolute;
  top: 0.8rem;
  right: 3rem;
  font-size: 1.2rem;
  color: #999;
  font-weight: 300;
}
.de_visual .de_visual_op .op_sel .op_select .select {
  border: none;
  outline: none;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.6rem;
  width: 40rem;
  background: #f5f5f5;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.de_visual .de_visual_op .op_sel .amount {
  border-bottom: 1px solid #999999;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.de_visual .de_visual_op .op_sel .amount .amount_select {
  display: flex;
  gap: 5rem;
  margin-right: 5rem;
}
.de_visual .de_visual_op .op_sel .amount .amount_select .amount_btn {
  transform: translateY(-0.7rem);
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;
}
.de_visual .de_visual_op .op_sel .amount .amount_select .amount_btn:hover {
  color: #E71C29;
  scale: 1.3;
}
.de_visual .de_visual_op .op_sel .amount .amount_select p {
  font-size: 2rem;
}
.de_visual .de_visual_op .op_sel_mo {
  display: none;
}
.de_visual .de_visual_op .op_total {
  margin-top: 4rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.de_visual .de_visual_op .op_total p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.de_visual .de_visual_op .op_total .total {
  color: #E71C29;
}
.de_visual .de_visual_op .op_buy {
  margin-top: 8rem;
}
.de_visual .de_visual_op .op_buy .buy_btn {
  border: 0.3rem solid #2471B4;
  background: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.7rem 2.5rem;
  border-radius: 20rem;
  color: #2471B4;
  cursor: pointer;
  transition: 0.3s;
}
.de_visual .de_visual_op .op_buy .buy_btn:hover {
  background: #2471B4;
  color: #fff;
}
.de_visual .de_visual_op .op_buy .buy_btn:first-child {
  margin-right: 3rem;
}

/**********1024이하********/
@media (max-width: 1024px) {
  .de_visual {
    gap: 3rem;
  }
  .de_visual img {
    height: 50rem;
  }
  .de_visual .de_visual_op .op_txt {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_txt h2 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }
  .de_visual .de_visual_op .op_txt p {
    font-size: 1.4rem;
  }
  .de_visual .de_visual_op .op_txt a {
    font-size: 1.1rem;
  }
  .de_visual .de_visual_op .op_size {
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_size .size_btn {
    font-size: 1.8rem;
    padding: 0.8rem 1.8rem;
  }
  .de_visual .de_visual_op .op_size .size_btn:first-child {
    margin-right: 1.8rem;
  }
  .de_visual .de_visual_op .op_sel .op_select {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .op_sel .op_select p {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }
  .de_visual .de_visual_op .op_sel .op_select p i {
    position: absolute;
    top: 0rem;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .de_visual .de_visual_op .op_sel .op_select span {
    font-size: 1rem;
  }
  .de_visual .de_visual_op .op_sel .op_select .select {
    font-size: 1.3rem;
  }
  .de_visual .de_visual_op .op_sel .amount .amount_select p {
    font-size: 1.8rem;
  }
  .de_visual .de_visual_op .op_total {
    margin-top: 3rem;
    gap: 3rem;
  }
  .de_visual .de_visual_op .op_total p {
    font-size: 2.3rem;
  }
  .de_visual .de_visual_op .op_buy {
    margin-top: 6rem;
  }
  .de_visual .de_visual_op .op_buy .buy_btn {
    font-size: 2rem;
    padding: 0.7rem 2.3rem;
  }
  .de_visual .de_visual_op .op_buy .buy_btn:first-child {
    margin-right: 2.5rem;
  }
}
@media (max-width: 768px) {
  .de_visual {
    display: block;
    margin-top: 6rem;
  }
  .de_visual .de_visual_img {
    margin-bottom: 5rem;
  }
  .de_visual .de_visual_img .de_visualPc {
    display: none;
  }
  .de_visual .de_visual_img .de_visualMo {
    display: block;
    height: 26rem;
    margin: auto;
  }
  .de_visual .de_visual_op {
    margin-bottom: 5rem;
  }
  .de_visual .de_visual_op .op_txt {
    margin: 0 auto 3rem;
    width: 50rem;
    padding: 0 1rem;
  }
  .de_visual .de_visual_op .op_txt p {
    font-weight: 700;
  }
  .de_visual .de_visual_op .de_option {
    background: #F5F5F5;
  }
  .de_visual .de_visual_op .de_option .op_size {
    border: none;
    margin: 0;
    padding: 0;
  }
  .de_visual .de_visual_op .de_option .op_size .size_btn {
    display: none;
  }
  .de_visual .de_visual_op .de_option .op_sel {
    display: none;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo {
    display: block;
    margin: auto;
    width: 45rem;
    padding: 2.5rem 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo > div {
    margin-bottom: 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo.edge {
    position: relative;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo.edge > .edge_info {
    font-size: 1rem;
    font-weight: 700;
    color: #E71C29;
    position: absolute;
    top: 1rem;
    left: 8rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form {
    padding: 0 2rem;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=radio]:checked {
    accent-color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=radio]:checked + label {
    color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=checkbox]:checked {
    accent-color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form input[type=checkbox]:checked + label {
    color: #E71C29;
  }
  .de_visual .de_visual_op .de_option .op_sel_mo .sel_mo form label {
    margin: 0 0 1rem 2rem;
    font-size: 1.6rem;
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .de_visual .de_visual_op .op_total {
    margin: 4rem auto 5rem;
    width: 45rem;
    padding: 0 4rem;
  }
  .de_visual .de_visual_op .op_buy {
    text-align: center;
  }
  .de_visual .de_visual_op .op_buy .buy_btn {
    font-size: 2.5rem;
    width: 25rem;
    height: 7rem;
  }
  .de_visual .de_visual_op .op_buy .buy_btn:last-child {
    display: none;
  }
}
.loMain {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  margin-top: 15.7rem;
}
.loMain > p {
  font-size: 5.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}
.loMain .loMain_mem {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-bottom: 4.7rem;
}
.loMain .loMain_mem > a {
  font-size: 3rem;
  font-weight: 700;
}
.loMain .loMain_mem > a:first-child {
  color: #E71C29;
}
.loMain .loMain_mem > a:last-child:hover {
  scale: 1.1;
}
.loMain .loMain_con {
  width: 80rem;
  height: 56.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 8.7rem;
  margin: 0 auto 10rem;
  padding: 0 3rem;
  display: flex;
}
.loMain .loMain_con .con_general {
  margin: 10rem 0 10rem;
  flex: 1;
  text-align: center;
}
.loMain .loMain_con .con_general > p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.loMain .loMain_con .con_general .lo_input {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.loMain .loMain_con .con_general .lo_input input {
  width: 24rem;
  height: 5rem;
  border: 1px solid #DFDFDF;
  border-radius: 0.5rem;
  outline: none;
  padding: 0 2.3rem;
  color: #000;
}
.loMain .loMain_con .con_general .lo_input input::placeholder {
  color: #bebebe;
  font-size: 1.2rem;
}
.loMain .loMain_con .con_general .lo_input input:first-child {
  margin-bottom: 0.5rem;
}
.loMain .loMain_con .con_general .lo_check {
  display: flex;
  justify-content: space-between;
  width: 24rem;
  margin: 0 auto 3.8rem;
  font-size: 1.4em;
}
.loMain .loMain_con .con_general .lo_check input[type=checkbox] {
  position: relative;
  top: 0.2rem;
}
.loMain .loMain_con .con_general .lo_check label {
  cursor: pointer;
}
.loMain .loMain_con .con_general .lo_check label:hover {
  color: #808080;
}
.loMain .loMain_con .con_general .lo_check a:hover {
  color: #808080;
}
.loMain .loMain_con .con_general .lo_btn a {
  background: #E71C29;
  display: block;
  margin: auto;
  width: 24rem;
  height: 5.2rem;
  border-radius: 5.4rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 5.2rem;
}
.loMain .loMain_con .con_general .lo_btn a:hover {
  background: rgb(255, 18, 34);
}
.loMain .loMain_con .con_general .lo_btn a:last-child {
  background: #cfcfcf;
  margin-top: 0.5rem;
}
.loMain .loMain_con .con_general .lo_btn a:last-child:hover {
  background: #bfbebe;
}
.loMain .loMain_con .con_social {
  margin: 10rem 0 10rem;
  border-left: 0.2rem dashed #EEEEEE;
  flex: 1;
  text-align: center;
}
.loMain .loMain_con .con_social > p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.loMain .loMain_con .con_social .so_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5rem;
}
.loMain .loMain_con .con_social .so_con .so_img {
  margin: 0 1rem 1rem;
}
.loMain .loMain_con .con_social .so_con .so_img > a {
  width: 11rem;
  display: block;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.loMain .loMain_con .con_social .so_con > p {
  font-size: 1.5rem;
}
.loMain .loMain_con .con_social img {
  width: 11rem;
  transition: 0.3s;
}
.loMain .loMain_con .con_social img:hover {
  scale: 1.1;
}

.loNoti {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  translate: 0.3s;
}
.loNoti .loNoti_wrap {
  position: relative;
  background: #fff;
  width: 67rem;
  height: 34.5rem;
  text-align: center;
  padding: 7rem;
  border-radius: 6rem;
}
.loNoti .loNoti_wrap p:first-child {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5rem;
}
.loNoti .loNoti_wrap .loNoti_info {
  margin-bottom: 5rem;
  font-size: 2rem;
}
.loNoti .loNoti_wrap .loNoti_info br {
  display: none;
}
.loNoti .loNoti_wrap .loNoti_info span {
  color: #E71C29;
}
.loNoti .loNoti_wrap .loNoti_btn a {
  display: inline-block;
  width: 22rem;
  height: 5rem;
  background: #CFCFCF;
  border-radius: 5.4rem;
  font-size: 2rem;
  color: #fff;
  line-height: 5rem;
}
.loNoti .loNoti_wrap .loNoti_btn a:last-child {
  background: #2471B4;
  margin-left: 1.5rem;
}
.loNoti .loNoti_wrap .loNoti_close {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: -3rem;
  right: -2rem;
  transition: 0.3s;
}
.loNoti .loNoti_wrap .loNoti_close:hover {
  scale: 1.2;
}

.popOpen {
  display: flex;
}

@media (max-width: 768px) {
  .loMain {
    margin-top: 13rem;
  }
  .loMain > p {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .loMain .loMain_mem {
    gap: 4.5rem;
    margin-bottom: -5rem;
  }
  .loMain .loMain_mem > a {
    font-size: 2.5rem;
  }
  .loMain .loMain_con {
    width: 55rem;
    height: 71rem;
    display: block;
  }
  .loMain .loMain_con .con_general {
    padding-top: 5rem;
  }
  .loMain .loMain_con .con_general .lo_input {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .loMain .loMain_con .con_general .lo_input input {
    height: 4.5rem;
  }
  .loMain .loMain_con .con_general .lo_btn a {
    background: #E71C29;
    display: block;
    margin: auto;
    width: 24rem;
    height: 5.2rem;
    border-radius: 5.4rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 5.2rem;
  }
  .loMain .loMain_con .con_general .lo_btn a:last-child {
    background: #cfcfcf;
    margin-top: 0.5rem;
  }
  .loMain .loMain_con .con_social {
    border-left: none;
    position: relative;
  }
  .loMain .loMain_con .con_social > p {
    color: #BEBEBE;
    font-weight: 500;
  }
  .loMain .loMain_con .con_social .so_con {
    flex-wrap: nowrap;
    padding: 0;
  }
  .loMain .loMain_con .con_social .so_con .so_img {
    margin: 1rem -1rem;
  }
  .loMain .loMain_con .con_social .so_con .so_img img {
    width: 6.6rem;
  }
  .loMain .loMain_con .con_social .so_con .so_img img:hover {
    scale: 1;
  }
  .loNoti .loNoti_wrap {
    width: 32.2rem;
    height: 45rem;
    padding: 6rem 4rem;
  }
  .loNoti .loNoti_wrap p:first-child {
    font-size: 2.5rem;
  }
  .loNoti .loNoti_wrap .loNoti_info {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .loNoti .loNoti_wrap .loNoti_info br {
    display: block;
  }
  .loNoti .loNoti_wrap .loNoti_btn a {
    width: 16rem;
    height: 4.8rem;
  }
  .loNoti .loNoti_wrap .loNoti_btn a:last-child {
    background: #2471B4;
    margin: 1.5rem 0;
  }
}
.active {
  color: #E71C29;
}

/*main*/
main.search_main {
  background: rgb(255, 255, 255);
  z-index: 90;
  /* 매장 서브페이지 헤더 */
}
main.search_main .search_header {
  z-index: 50;
  height: 40rem;
  text-align: center;
  padding-top: 16.7rem;
  transition: 0.3s ease;
}
main.search_main .search_header p {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 5.5rem;
  color: #322F2F;
  font-weight: 700;
  margin-bottom: 3rem;
}
main.search_main .search_header ul {
  display: flex;
  justify-content: center;
  color: #322F2F;
}
main.search_main .search_header ul li:hover {
  color: #7F8085;
}
main.search_main .search_header {
  max-width: 1440px;
  height: 8rem;
  margin: 0 auto;
  margin-bottom: 14rem;
  position: relative;
}
main.search_main .search_header ul {
  display: flex;
}
main.search_main .search_header ul li a {
  display: inline-block;
  font-weight: 600;
  padding: 0 3rem;
  line-height: 8rem;
  transition: 0.3s;
}
main.search_main .search_header ul li.selected a {
  color: #fff;
}
main.search_main .search_header .select_bar {
  height: 4rem;
  width: 0;
  border-radius: 8rem;
  background-color: #2471B4;
  position: absolute;
  top: calc(50% - 2rem);
  transition: 0.3s ease-out;
  z-index: -1;
}

.search_header {
  width: 100%;
  background: #fff;
  padding-top: 15rem;
}
.search_header p {
  font-size: 4rem;
  font-weight: 900;
}
.search_header ul {
  font-size: 3rem;
  font-weight: 900;
}

/* 매장찾기 서브페이지 헤더 - 1024px */
@media (max-width: 1024px) {
  .search_header {
    width: 100%;
    background: #fff;
    padding-top: 15rem;
  }
  .search_header p {
    font-size: 4rem;
    font-weight: 900;
  }
  .search_header ul {
    font-size: 3rem;
    font-weight: 900;
  }
}
/* 매장찾기 서브페이지 헤더 - 768px */
@media (max-width: 768px) {
  main.search_main .search_header {
    width: 100%;
    background: #fff;
    padding-top: 15rem;
  }
  main.search_main .search_header p {
    font-size: 4rem;
    font-weight: 900;
  }
  main.search_main .search_header ul {
    font-size: 3rem;
    font-weight: 900;
  }
  main.search_main .de_menu_wrap {
    height: 6rem;
    border-bottom: 1px solid #D8DCE0;
  }
  main.search_main .de_menu {
    max-width: 1440px;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  main.search_main .de_menu ul {
    min-width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main.search_main .de_menu .select_bar {
    height: 3rem;
    width: 0;
    border-radius: 8rem;
    background-color: #2471B4;
    position: absolute;
    top: calc(50% - 1.5rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
}
/* 매장 서브페이지 헤더 - 440px */
@media (max-width: 440px) {
  main.search_main .search_header {
    width: 100%;
    background: #fff;
    padding-top: 15rem;
  }
  main.search_main .search_header p {
    font-size: 4rem;
    font-weight: 900;
  }
  main.search_main .search_header ul {
    font-size: 2.3rem;
    font-weight: 900;
  }
  main.search_main .de_menu_wrap {
    height: 6rem;
    border-bottom: 1px solid #D8DCE0;
  }
  main.search_main .de_menu {
    max-width: 1440px;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  main.search_main .de_menu ul {
    min-width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main.search_main .de_menu .select_bar {
    height: 3rem;
    width: 0;
    border-radius: 8rem;
    background-color: #2471B4;
    position: absolute;
    top: calc(50% - 1.5rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
}
/*      section             */
.map {
  height: 100rem;
  z-index: 100;
  position: relative;
  /***/
}
.map .map_popup_wrap {
  z-index: 100;
  top: 15rem;
  left: 16%;
  position: absolute;
  width: 40rem;
  height: 62rem;
  background: #ffffff;
  border-radius: 7.5rem;
}
.map .map_popup_wrap .map_popup {
  position: relative;
  overflow: hidden;
  width: 40rem;
  height: 62rem;
  background: #ffffff;
  border-radius: 7.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.map .map_popup_wrap .map_popup .map_popup_header {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}
.map .map_popup_wrap .map_popup .map_popup_header h3 {
  font-size: 2.1rem;
}
.map .map_popup_wrap .map_popup .map_popup_search .search1 {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  height: 7rem;
}
.map .map_popup_wrap .map_popup .map_popup_search .search1 input {
  padding: 2rem;
  width: 60%;
  margin-left: 4rem;
  font-size: 2rem;
  border: none;
  outline: none;
}
.map .map_popup_wrap .map_popup .map_popup_search .search1 i {
  position: inherit;
  font-size: 2rem;
  background: #f3f3f3;
  padding: 1.4rem;
  color: #322F2F;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 999rem;
  cursor: pointer;
  transition: 0.3s;
}
.map .map_popup_wrap .map_popup .map_popup_search .search1 i:hover {
  background: #322F2F;
  color: #fff;
}
.map .map_popup_wrap .map_popup .map_popup_search .search2_wrap {
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  text-align: center;
}
.map .map_popup_wrap .map_popup .map_popup_search .search2_wrap .sido {
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
  border-right: 1px solid #DFDFDF;
}
.map .map_popup_wrap .map_popup .map_popup_search .search2_wrap .sido li {
  display: none;
}
.map .map_popup_wrap .map_popup .map_popup_search .search2_wrap .gugun {
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}
.map .map_popup_wrap .map_popup .map_popup_search .search2_wrap .gugun li {
  display: none;
}
.map .map_popup_wrap .map_popup .map_popup_scroll {
  position: relative;
  overflow: auto;
  height: 60rem;
}
.map .map_popup_wrap .map_popup .map_popup_scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 3rem;
}
.map .map_popup_wrap .map_popup .map_popup_scroll::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 5rem;
  height: 2rem;
  background-clip: padding-box;
  border: 1rem solid transparent;
}
.map .map_popup_wrap .map_popup .map_popup_scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li {
  padding: 0 0 0 7rem;
  padding-top: 2rem;
  width: 100%;
  margin-bottom: 3rem;
  align-items: center;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li h4 {
  font-size: 1.6rem;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li h4 span {
  color: #828282;
  font-size: 1.5rem;
  margin-left: 0.6rem;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li p {
  font-size: 1.6rem;
  padding: 1rem 0;
  font-weight: 500;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li .button_wrap {
  font-size: 1.5rem;
  margin-top: 2rem;
  position: relative;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li .button_wrap a {
  border: none;
  background: #F2F2F2;
  border-radius: 0.7rem;
  padding: 1.5rem 3.2rem;
  cursor: pointer;
  transition: 0.3s;
}
.map .map_popup_wrap .map_popup .map_popup_scroll ul li .button_wrap a:hover {
  background: #322F2F;
  color: #fff;
}
.map .map_wrap {
  width: 100%;
  position: relative;
}
.map .map_wrap div {
  top: 2.5rem;
  height: 82rem;
  width: 100%;
  position: absolute;
}
.map .map_popup_search {
  display: inline-block;
  width: 100%;
}
.map .map_popup_search .search2_wrap {
  text-align: center;
}
.map .map_popup_search .search2_wrap .sido {
  text-align: center;
  padding: 2rem 0;
  border-right: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.map .map_popup_search .search2_wrap .gugun {
  text-align: center;
  border: none;
}

.map_popup_wrap_mo {
  top: 5rem;
  position: relative;
  width: 100%;
  background: #d6d6d6;
  /*첫줄*/
}
.map_popup_wrap_mo .map_popup_header {
  border-top: 1px solid #ccc;
  position: relative;
  width: 100%;
}
.map_popup_wrap_mo .map_popup_header .search1 input {
  padding: 3rem;
  width: 70%;
  margin-left: 5rem;
  font-size: 2rem;
  border: none;
  outline: none;
}
.map_popup_wrap_mo .map_popup_header .search1 i {
  position: inherit;
  font-size: 2.5rem;
  top: 33.33%;
  background: #f3f3f3;
  padding: 1.5rem;
  margin-left: 2rem;
  border-radius: 999rem;
  cursor: pointer;
}
.map_popup_wrap_mo .map_popup_header .search1 i:hover {
  background: #322F2F;
  color: #fff;
}
.map_popup_wrap_mo .search2_wrap {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
}
.map_popup_wrap_mo .search2_wrap .sido {
  cursor: pointer;
  outline: none;
  flex: 1;
  border-right: 1px solid #ccc;
}
.map_popup_wrap_mo .search2_wrap .gugun {
  cursor: pointer;
  flex: 1;
  padding: 2rem;
  outline: none;
}
.map_popup_wrap_mo .map_popup_scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 3rem;
}
.map_popup_wrap_mo .map_popup_scroll::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 5rem;
  height: 2rem;
  background-clip: padding-box;
  border: 1rem solid transparent;
}
.map_popup_wrap_mo .map_popup_scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* 매장찾기 서브페이지 찾기 - 1024px */
@media (max-width: 9999px) {
  .map_popup_wrap_mo {
    display: none;
  }
}
/* 매장찾기 서브페이지 찾기 - 1024px */
@media (max-width: 1024px) {
  .map_popup_wrap_mo {
    display: none;
  }
}
/* section 반응형 - 768px */
@media (max-width: 768px) {
  .map_popup_wrap {
    display: none;
  }
  .map_popup_wrap_mo {
    display: inline-block;
    background: #fff;
  }
  .map_wrap {
    display: none;
  }
  .search2_wrap {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
  }
  .search2_wrap .sido {
    flex: 1;
    border-right: 1px solid #ccc;
  }
  .search2_wrap .gugun {
    flex: 1;
    padding: 2rem;
  }
  .map_popup_scroll {
    position: relative;
    overflow: auto;
    height: 60rem;
  }
  .map_popup_scroll ul li {
    position: relative;
    display: flex;
    padding: 5rem 5rem;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  .map_popup_scroll ul li h4 {
    font-size: 1.6rem;
  }
  .map_popup_scroll ul li h4 span {
    color: #828282;
    font-size: 1.5rem;
    margin-left: 0.6rem;
  }
  .map_popup_scroll ul li p {
    font-size: 1.6rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .map_popup_scroll ul li .button_wrap {
    margin-left: 2rem;
    margin-top: 1.6rem;
    font-size: 1.5rem;
  }
  .map_popup_scroll ul li .button_wrap a {
    border: none;
    background: #F2F2F2;
    border-radius: 0.7rem;
    padding: 1.5rem 3.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .map_popup_scroll ul li .button_wrap a:hover {
    background: #322F2F;
    color: #fff;
    font-weight: bold;
  }
}
/* section 반응형 - 630px */
@media (max-width: 630px) {
  .map_popup_scroll {
    position: relative;
    overflow: auto;
  }
  .map_popup_scroll ul li {
    padding: 0 0 0 7rem;
    padding-top: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    align-items: center;
  }
  .map_popup_scroll ul li h4 {
    font-size: 1.6rem;
  }
  .map_popup_scroll ul li h4 span {
    color: #828282;
    font-size: 1.5rem;
    margin-left: 0.6rem;
  }
  .map_popup_scroll ul p {
    font-size: 1.6rem;
    padding: 1rem 0;
    font-weight: 500;
  }
  .map_popup_scroll ul .button_wrap {
    font-size: 1.5rem;
    margin-top: 2rem;
    position: relative;
  }
  .map_popup_scroll ul .button_wrap a {
    display: inline-block;
    margin-bottom: 1rem;
    border: none;
    background: #F2F2F2;
    border-radius: 0.7rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .map_popup_scroll ul .button_wrap a:hover {
    background: #322F2F;
    color: #fff;
  }
}
/* section 반응형 - 450px */
@media (max-width: 450px) {
  .search1 i {
    display: none;
    position: inherit;
    font-size: 1rem;
    top: 33.33%;
    background: #f3f3f3;
    padding: 1.5rem;
    margin-left: 2rem;
    border-radius: 999rem;
    cursor: pointer;
  }
  .search1 i:hover {
    background: #322F2F;
    color: #a77878;
  }
}

/*# sourceMappingURL=style.css.map */
