@charset "UTF-8";

.de_visual {
  @include set-1440();
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 10rem auto;

  .de_visualPc {
    height: 60rem;
  }
  .de_visualMo {
    display: none;
  }
  .de_visual_op {
    .op_txt {
      margin-bottom: 2.5rem;
      h2 {
        font-size: 4rem;
        font-weight: 700;
        color: $red;
        margin-bottom: 1.5rem;  
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      a {
        font-size: 1.2rem;
        color: #999;
        &:hover {
          color: #6d6d6d;
        }
      }
    }
    .op_size {
      margin-bottom: 2.5rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid #999999;
      .size_btn {
        border: 0.3rem solid $red;
        background: #fff;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 2rem;
        border-radius: 20rem;
        color: $red;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: $red;
          color: #fff;
          
        }
      }
      .size_btn:first-child {
        margin-right: 3rem;
      }
    }
    .op_sel {
      .op_select {
        position: relative;
        margin-bottom: 2.5rem;

        p {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
          i {
            position: absolute;
            top: -0.2rem;
            margin-left: 1rem;
          }
        }
        span {
          position: absolute;
          top: 0.8rem;
          right: 3rem;
          font-size: 1.2rem;
          color: #999;
          font-weight: 300;
        }
        .select {
          border: none;
          outline: none;
          font-family: $pre;
          font-size: 1.6rem;
          width: 40rem;
          background: #f5f5f5;
          padding: 0.8rem 1rem;
          border-radius: 1rem;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          cursor: pointer;

        }
      }
      .amount {
        border-bottom: 1px solid #999999;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        .amount_select{
          display: flex;
          gap: 5rem;
          margin-right: 5rem;
          .amount_btn {
            transform: translateY(-0.7rem);
            border: none;
            background: none;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              color: $red;
              scale: 1.3;
            }
          }
          p {
            font-size: 2rem;
          }
        }
      }
    }
    .op_sel_mo {
      display: none;
    }
    .op_total {
      margin-top: 4rem;
      display: flex;
      justify-content: end;
      gap: 1rem;
      p {
        font-size: 2.5rem;
        font-weight: 700;
        color: #000;
      }
      .total {
        color: $red;
      }
    }
    .op_buy {
      margin-top: 8rem;
      .buy_btn {
        border: 0.3rem solid $blue;
        background: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0.7rem 2.5rem;
        border-radius: 20rem;
        color: $blue;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: $blue;
          color: #fff;
        }
      }
      .buy_btn:first-child {
        margin-right: 3rem;
      }
    }
  }
}








/**********1024이하********/
@media (max-width:1024px){
  .de_visual {
    gap: 3rem;
  
    img {
      height: 50rem;
    }
    .de_visual_op {
      .op_txt {
        margin-bottom: 2rem;
        h2 {
          font-size: 3rem;
          margin-bottom: 1.3rem;  
        }
        p {
          font-size: 1.4rem;
        }
        a {
          font-size: 1.1rem;
        }
      }
      .op_size {
        margin-bottom: 2.5rem;
        padding-bottom: 2rem;
        .size_btn {
          font-size: 1.8rem;
          padding: 0.8rem 1.8rem;
        }
        .size_btn:first-child {
          margin-right: 1.8rem;
        }
      }
      .op_sel {
        .op_select {
          margin-bottom: 2rem;
  
          p {
            font-size: 1.8rem;
            margin-bottom: 1.3rem;
            i {
              position: absolute;
              top: 0rem;
              margin-left: 1rem;
              font-size: 1.5rem;
            }
          }
          span {
            font-size: 1rem;
          }
          .select {
            font-size: 1.3rem;
          }
        }
        .amount {
          .amount_select{
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
      .op_total {
        margin-top: 3rem;
        gap: 3rem;
        p {
          font-size: 2.3rem;
        }
      }
      .op_buy {
        margin-top: 6rem;
        .buy_btn {
          font-size: 2rem;
          padding: 0.7rem 2.3rem;
        }
        .buy_btn:first-child {
          margin-right: 2.5rem;
        }
      }
    }
  }
}



@media(max-width:768px) {
  .de_visual {
    display: block;
    margin-top: 6rem;

    .de_visual_img {
      margin-bottom: 5rem;

      .de_visualPc {
        display: none;
      }
      .de_visualMo {
        display: block;
        height: 26rem;
        margin: auto;
      }
    }
    .de_visual_op {
      margin-bottom: 5rem;
      .op_txt {
        margin: 0 auto 3rem;
        width: 50rem;
        padding: 0 1rem;
        p {
          font-weight: 700;
        }
      }
      .de_option {
        background: #F5F5F5;
        .op_size {
          border: none;
          margin: 0;
          padding: 0;
          .size_btn{
            display: none;
          }
        }
        .op_sel {
          display: none;
        }
        .op_sel_mo {
          display: block;
          margin:auto;
          width: 45rem;
          padding: 2.5rem 2rem;
          &>div {
            margin-bottom: 2rem;
          }
          .sel_mo {
            p {
              font-size: 2rem;
              font-weight: 700; 
              margin-bottom: 1.5rem;
            }
            &.edge {
              position: relative;
            }
            &.edge > .edge_info {
              font-size: 1rem;
              font-weight: 700;
              color: $red;
              position: absolute;
              top: 1rem;
              left: 8rem;
              
            }
            form {
              padding: 0 2rem;
              input[type="radio"]:checked {
                accent-color: $red;
              }
              input[type="radio"]:checked + label{
                color: $red;
              }
              input[type="checkbox"]:checked {
                accent-color: $red;
              }
              input[type="checkbox"]:checked + label{
                color: $red;
              }
              label {
                margin: 0 0 1rem 2rem;
                font-size: 1.6rem;
                display: inline-flex;
                width: 90%;
                justify-content: space-between;
                align-items: center;
              }
            }
          }
          
        }
      }
      .op_total {
        margin:4rem auto 5rem;
        width: 45rem;
        padding: 0 4rem;
      }
      .op_buy {
        text-align: center;
        .buy_btn {
          font-size: 2.5rem;
          width: 25rem;
          height: 7rem;
          &:last-child {
            display: none;
          }
        }
      }
    }

  }
  
}

