@charset 'UTF-8';

/* 헤더 - PC(1440) */
header {
  background-color: transparent;
  @include set-box(9rem);
  position: fixed;
  top:0;
  transition: 0.3s ease-in;
  z-index: 100;
  
  .header_wrap {
    @include set-1440(9rem);
    position: relative;

    /* 로고 */ 
    h1.domino_logo {
      img {
        position: absolute; 
        top:1.2rem;
        left:3rem;
        width: 25rem;
        transition: 0.3s ease-in;
      }
      .logo_white { opacity: 1; }
      .logo_blue { opacity: 0;}
    }

    /* 헤더 메뉴 */
    nav.header_menu {
      position: absolute;
      top:calc(50% - 1.1rem);
      right: 3rem;

      ul.main_menu {
        display: flex;
        gap: 6.5rem;
        font-size: 2.0rem;
        font-weight: 500;
        color:#fff;

        li {
          &:not(.login):hover {
            opacity: 0.7;
          }

          &.login {
            display: none;

          }
        }
      }
      
      .mobile_btn {
        display: none;
      }
    }
  }
}

.scrolling {
  header {
    background-color: #fff;
    .header_wrap {
      h1.domino_logo {
        .logo_white { opacity: 0;}
        .logo_blue { opacity: 1; }
      }
    }
    nav.header_menu {
      ul.main_menu {
        color:$black;
        font-weight: 600;
      }
    }
  }
}

/* 헤더 1024px */
@media (max-width:1024px){
  header {
    .header_wrap {
      h1.domino_logo {
        img {
          top:1.5rem;
          left:2rem;
          width: 20rem;
        }
      }
  
      /* 헤더 메뉴 */
      nav.header_menu {
        top:calc(50% - 1.1rem);
        right: 3rem;
  
        ul.main_menu {
          gap: 5rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}

/* 헤더 768px */
@media (max-width:768px){
  header {
    height: 7rem;

  .header_wrap {
    height: 7rem;
    
    h1.domino_logo {
      img {
        top:1.3rem;
        left:2rem;
        width: 15rem;
      }
    }

    nav.header_menu {
      top:0;
      right: 0;
      padding:2.5rem 2rem;

      ul.main_menu {
        @include set-box(100vh,60vw);
        position: absolute;
        flex-direction: column;
        font-weight: 600;
        right: -70vw;
        top:0;
        background-color: rgba(255,255,255,1);
        color:#111;
        gap:0;
        box-shadow:0 5px 5px rgba(0,0,0,0.2);
        transition: 0.5s ease-in;

        li{
          &:not(.login):hover {
            opacity: 1;
            background-color: #eee;
          }

          border-bottom: 1px solid #eeeeee;

          a {
            display: block;
            padding: 2rem 3rem;
          }

          &.login {
          display: inline-block;
          font-size: 1.4rem;
          padding-top:1.5rem;
            a {
              display: inline-block;
              padding: 1.5rem 1.5rem 3rem;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        &.on {
          right: 0;
        }
      }

      .mobile_btn {
        display: block;
        @include set-box (2.1rem, 2.6rem);
        display: block;
        position: relative;
        cursor: pointer;

        span {
          @include set-box (0.3rem,100%,0.5rem);
          display: block;
          background-color: #fff;
          text-indent: -9999px;
          position: absolute;
          transition: 0.5s ease-in;

          &:nth-child(1) {
            top:0;
          }
          &:nth-child(2) {
            top:0.9rem;
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }

        &.on {
          span {
            background-color: #111;

            &:nth-child(1) {
              top:0.9rem;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top:0.9rem;
              width: 0;
            }
            &:nth-child(3) {
              bottom:0.9rem;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    }
  }

  .scrolling {
    header {
      .header_wrap {
        nav.header_menu {
          .mobile_btn {
            span {
              background-color: #111;
            }
          }
        }
      }
    }
  }

}




/* 푸터 - PC(1440) */

footer {
  background-color: $blue;

  .footer_wrap {
    @include set-1440(auto);
    color:#fff;
    padding: 2rem 0;

    .footer_section1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .footer_logo {
        img {width: 32rem;}
        h2 {
          display: inline-block;
          font-size: 3rem;
          margin-left:1rem;
        }
      }
      .footer_nav {
        li {
          display: inline-block;
          font-size: 1.2rem;
          margin-left:0.5rem;
          letter-spacing: 0.5px;
        }
      }
    }
    .footer_section2 {
      display: flex;
      justify-content: space-between;
      .footer2_left {
        .footer_info {
          font-size: 1.3rem;
          margin: 5rem 0;
        }
        address {
          font-size: 1.3rem;
          font-style: normal;
          color:rgba(255,255,255,0.6)
        }
      }
      .footer2_right {
        .footer_prize {
          display: flex;
          gap: 2rem;
          margin: 5rem 0 10rem;
          .prize_card {
            display: flex;
            gap: 1rem;
            img {
              width: 3rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }

        .footer_sns {
          text-align: right;
          a {
            display: inline-block;
            @include set-box(3rem,3rem);
            margin-left: 2rem;
          }
        }
      }
    }

  }
}

@media (max-width:1210px){
  footer {
    .footer_wrap {
      width: 100%;
      padding:2rem;
  
      .footer_section1 {
        .footer_logo {
          img {width: 30rem;}
        }
        .footer_nav {
          ul { 
            width: 40rem;
            text-align: right;
          }
        }
      }
      .footer_section2 {
        .footer2_left {
          .footer_info {
            font-size: 1.2rem;
          }
          address {
            font-size: 1.1rem;
          }
        }
        .footer2_right {
          .footer_prize {
            display: flex;
            gap: 1rem;
            margin: 5rem 0 10rem;
            .prize_card {
              img {
                width: 2.5rem;
              }
              p {
                font-size: 1.1rem;
              }
            }
          }
  
          .footer_sns {
            text-align: right;
            a {
              display: inline-block;
              @include set-box(3rem,3rem);
              margin-left: 2rem;
            }
          }
        }
      }
  
    }
  }
}
@media (max-width:940px){
  footer {
    .footer_wrap {
      position: relative;
      .footer_section1 {
        .footer_nav {
          display: none;
        }
      }
      .footer_section2 {
        .footer2_right {
          .footer_prize {
            display: none;
          }
  
          .footer_sns {
            position: absolute;
            top:6rem;
            right: 2rem;
            }
          }
        }
      }
  
    }
}
@media (max-width:768px){
  footer {
    .footer_wrap {
      position: relative;
      .footer_section1 {
        .footer_logo {
          img {
            width: 15rem;
          }
          h2 {
            font-size: 2rem;
          }
        }
      }
      .footer_section2 {
        .footer2_left {
          display: none;
        }
        .footer2_right {
          .footer_sns {
            position: absolute;
            top:calc(50% - 1rem);
            right: 2rem;
            a {
              width: 2rem;
              margin-left: 1rem;
            }
            }
          }
        }
      }
  
    }
}