@charset "UTF_8";

/* 메뉴 서브페이지 헤더 */
main.menu_main {
.de_header {
  background: url('../img/menu_visual.jpg') center 10%;
  height: 40rem;
  text-align: center;
  padding-top: 16.7rem;
  transition: 0.3s ease;

  p {
    font-family: $jom;
    font-size: 13rem;
    color: #fff;
    text-shadow: 0 0 1rem #222;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #fff;
    text-shadow: 0 0 3px #222;

    li {

      a {
        font-size: 2rem;
      }
    }
  }
}

.de_menu_wrap {
  height: 8rem;
  border-bottom: 2px solid #D8DCE0;
}
.de_menu {
  @include set-1440(8rem);
  margin-bottom: 14rem;
  position: relative;

  ul {
    display: flex;

    li {
      a {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0 3rem;
        line-height: 8rem;
        transition: 0.3s;
      }

      &.selected a{
        color:#fff;
      }
    }
  }

  .select_bar {
    @include set-box(4rem,0,8rem);
    background-color: $blue;
    position: absolute;
    top:calc(50% - 2rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
} 
}

/* 메뉴 서브페이지 헤더 - 1024px */
@media (max-width:1024px){
  main.menu_main {
    .de_menu {
      ul {
      min-width: 1050px;
      }
    }
  }
}

/* 메뉴 서브페이지 헤더 - 768px */
@media (max-width:768px){
  main.menu_main {
    .de_header {
      width: 100%;
      height: 30rem;
      background: url('../img/menu_visual_mobile.jpg') center / cover;
      padding-top: 15rem;

      p {
        font-size: 9rem;
      }
      ul {
        display: none;
      }
    }
    .de_menu_wrap {
      height: 6rem;
      border-bottom: 1px solid #D8DCE0;
    }
    .de_menu {
      @include set-1440(6rem);
      margin-bottom: 8rem;
    
      ul {
        min-width: auto;
        justify-content: center;
        flex-wrap: wrap;
        li {
          a {
            font-size: 1.5rem;
            font-weight: 600;
            padding:0 1rem;
            line-height: 6rem;
            transition: 0.3s;
          }
        }
      }
    
      .select_bar {
        @include set-box(3rem,0,8rem);
        background-color: $blue;
        position: absolute;
        top:calc(50% - 1.5rem);
        transition: 0.3s ease-out;
        z-index: -1;
      }
    } 
  }

}

/* 메뉴 유의사항 */
.caution_wrap {
  @include set-1440;
  padding: 5rem;
  border-top: 2px solid #D9D9D9;

  .caution {
    img {
      @include set-box (5rem, 5rem)
    }
  }

  .caution1 {
    margin-bottom: 8rem;
    .menu_h3 {
      margin:2rem 0;
    }

    .menu_p {
      line-height: 150%;
    }
  }

  .caution2 {
    display: flex;
    gap: 2.4rem;
    padding-bottom: 3rem;

    .menu_h3 {
      margin: 1.2rem 0 5rem;
    }
  }
}
@media (max-width:768px){
  .caution_wrap {
    width: 100%;
    
    .caution {
      img {
        @include set-box (4rem, 4rem)
      }
    }
  
    .caution2 {
      flex-direction: column;
      gap: 2rem;
  
      .menu_h3 {
        line-height: 150%;
      }

      .menu_btn {
        font-size: 1.6rem;
      }
    }
  }
}

/* 피자 목록 */
.menu_list_wrap {
  @include set-1440();
  .menu_list {
    padding: 4rem;

    .menu_tit {
      margin-bottom: 4.5rem;
    }

    .menu_ul {
      display: flex;
      flex-wrap: wrap; 
      row-gap: 20px;
      width: 100%;
      min-width: 91rem;
      padding: 0 2rem;

      li {
        width: 33.3%;
        padding: 1.2rem;

        .menu_name {
          font-size: 2.6rem;
          font-weight: 900;
          margin-top:1.4rem;
        }
        .menu_info {
          font-size: 1.5rem;
          font-weight: 300;
          min-height: 4rem;
          color: #828282;
          margin: 0.8rem 0 2rem;
        }
        .menu_Lprice {
          display: inline-block;
          font-size: 2.2rem;
          color:$red;
          font-weight: 900;
        }
        .menu_Rprice {
          display: inline-block;
          font-size: 2.2rem;
          color:$blue;
          font-weight: 900;
          margin-left: 2rem;
        }
      }
    }
  }
}
@media (max-width:768px){
  .menu_list_wrap {
    width: 100%;

    .menu_list {
      .menu_tit {
        font-size: 2.4rem;
        margin-bottom: 4rem;
      }
  
      .menu_ul {
        min-width: auto;
        padding: 0;
  
        li {
          width: 100%;
          padding: 0;
          border-radius: 2.2rem;
          overflow: hidden;
          box-shadow: 0 5px 10px rgba(0,0,0,0.2);

          a { 
            display: flex;
            align-items: center;
            gap:1rem;
            background-color: #fff; }
          img {
            width: 42%;
          }
          
          .menu_name {
            font-size: 2rem;
            font-weight: 900;
            margin-top:0;
          }
          .menu_info {
            font-size: 1.4rem;
            font-weight: 300;
            min-height: 4rem;
            color: #828282;
            margin: 0.8rem 0 2rem;
          }
          .menu_Lprice {
            font-size: 1.6rem;
            margin-bottom: 0.8rem;
          }
          .menu_Rprice {
            display: block;
            font-size: 1.6rem;
            margin:0;
          }
        }
      }
    }
  }
}


/* side */
.menu_list_wrap {
  .menu_list {
    .menu_ul.menu_combo,.menu_ul.menu_side,.menu_ul.menu_etc {
      li {
        .menu_name {
          font-size: 2.4rem;
        }
        .menu_Lprice {
          margin-top: 2rem;
        }
      }
    }
  }
}
@media (max-width:768px){
  .menu_list_wrap {
    .menu_list {
      .menu_ul.menu_combo,.menu_ul.menu_side,.menu_ul.menu_etc {
        li {
          .menu_name {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}