@charset "UTF_8";


/*tap 넣어보려 했는데 안되네,,*/
// main > .search_page {max-width: 100%; margin:auto; }

// .search_header li {
//   cursor: pointer;
//   &:last-child {border-right:none;}
// }

// .search_header li.active {
//   color:red;
// }

// .tabBody > section {
// display:flex; 
//   justify-content: center; 
//   align-items: center;

//   .map {}
//   .bestshop {}
// }

.active {color:$red; 
  }

  body{
    height:200vh;
  }
/*main*/  
main { 
}
main.search_main { 

  background: rgb(255, 255, 255);
  z-index: 90;


/* 매장 서브페이지 헤더 */

.search_header { 
  
  z-index: 50;
  height: 40rem;
  text-align: center;
  padding-top: 16.7rem;
  transition: 0.3s ease;


  p { 
    font-family: $pre;
    font-size: 5.5rem;
    color: $black;
    font-weight: 700;
    margin-bottom: 3rem;

  }
  ul { 
    display: flex;
    justify-content: center;
    color: $black;


    li {
      &:hover {
        color:$gray1;
      }
      a {
      }
    }
  }
}


.search_header {   
  @include set-1440(8rem);
  margin-bottom: 14rem;
  position: relative;

  ul {
    display: flex;

    li {
      a {
        display: inline-block;
        font-weight: 600;
        padding: 0 3rem;
        line-height: 8rem;
        transition: 0.3s;
      }

      &.selected a{
        color:#fff;
      }
    }
  }

  .select_bar {
    @include set-box(4rem,0,8rem);
    background-color: $blue;
    position: absolute;
    top:calc(50% - 2rem);
    transition: 0.3s ease-out;
    z-index: -1;
  }
} 
}

  .search_header {
    width: 100%;
    background:#fff;
    padding-top: 15rem;

    p {
      font-size: 4rem;
      font-weight: 900;
    }
    ul {
      font-size: 3rem;
      font-weight: 900;
    }
  }


/* 매장찾기 서브페이지 헤더 - 1024px */
@media (max-width:1024px){
  .search_header {
    width: 100%;
    background:#fff;
    padding-top: 15rem;

    p {
      font-size: 4rem;
      font-weight: 900;
    }
    ul {
      font-size: 3rem;
      font-weight: 900;
    }
  }
}
/* 매장찾기 서브페이지 헤더 - 768px */
@media (max-width:768px){
  main.search_main {
    .search_header {
      width: 100%;
      background:#fff;
      padding-top: 15rem;

      p {
        font-size: 4rem;
        font-weight: 900;
      }
      ul {
        font-size: 3rem;
        font-weight: 900;
      }
    }
    .de_menu_wrap {
      height: 6rem;
      border-bottom: 1px solid #D8DCE0;
    }
    .de_menu {
      @include set-1440(6rem);
      margin-bottom: 8rem;
    
      ul {
        min-width: auto;
        justify-content: center;
        flex-wrap: wrap;
        li {
          a {

          }
        }
      }
    
      .select_bar {
        @include set-box(3rem,0,8rem);
        background-color: $blue;
        position: absolute;
        top:calc(50% - 1.5rem);
        transition: 0.3s ease-out;
        z-index: -1;
      }
    } 
  }

}
/* 매장 서브페이지 헤더 - 440px */
@media (max-width:440px){
  main.search_main {
    .search_header {
      width: 100%;
      background:#fff;
      padding-top: 15rem;

      p {
        font-size: 4rem;
        font-weight: 900;
      }
      ul {
        font-size: 2.3rem;
        font-weight: 900;
      }
    }
    .de_menu_wrap {
      height: 6rem;
      border-bottom: 1px solid #D8DCE0;
    }
    .de_menu {
      @include set-1440(6rem);
      margin-bottom: 8rem;
    
      ul {
        min-width: auto;
        justify-content: center;
        flex-wrap: wrap;
        li {
          a {

          }
        }
      }
    
      .select_bar {
        @include set-box(3rem,0,8rem);
        background-color: $blue;
        position: absolute;
        top:calc(50% - 1.5rem);
        transition: 0.3s ease-out;
        z-index: -1;
      }
    } 
  }

}



/*      section             */
.map { height:100rem;
  z-index: 100;
  position: relative;



  .map_popup_wrap {
    z-index: 100;
    top:15rem;
    left:16%;
    position: absolute;
    width:40rem;
    height:62rem;
    background: #ffffff;
    border-radius: 7.5rem;
    
    .map_popup { 
    position: relative; overflow: hidden; 
    width:40rem;
    height:62rem;
    background: #ffffff;
    border-radius: 7.5rem;
    box-shadow: $shadow;

      .map_popup_header {
      position: relative;
      text-align: center;
      padding:3rem 0;

      h3{
        font-size: 2.1rem;
      }

    }
    //모니터 사이즈
    .map_popup_search {
      .search1 {
        border-top:1px solid #DFDFDF;
        border-bottom:1px solid #DFDFDF;
        height:7rem;
        input {
          padding: 2rem;
          width:60%;
          margin-left: 4rem;
          font-size: 2rem;
          border:none;
          outline:none; 
        }
        i {
          position: inherit;
          font-size: 2rem;
          background: #f3f3f3;
          padding: 1.4rem;
          color:$black;
          margin-left: 3rem;
          margin-top:1rem;
          border-radius: 999rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: $black;
                color:#fff
          }
        }
      }
      .search2_wrap {
        border-bottom:1px solid #DFDFDF;
        display: flex;
        text-align: center;
        
        
        .sido { cursor:pointer;
          flex: 1; font-size: 1.5rem;
          border-right:1px solid #DFDFDF;
          li{display: none;}
        }
        .gugun {cursor:pointer;
          flex: 1; font-size: 1.5rem;
          li{display: none;}
        }
      }
    }
    .map_popup_scroll { 
      position: relative; 
      overflow: auto; height: 60rem;
      &::-webkit-scrollbar { background-color: #fff; width: 3rem;  }
      &::-webkit-scrollbar-thumb { 
        background-color: #454545;
        border-radius: 5rem; height:2rem;
        background-clip: padding-box;
        border:1rem solid transparent;
      }
      &::-webkit-scrollbar-track { background-color: #ffffff;}
      
      ul { 
        li { 
          
          padding:0  0 0 7rem; padding-top:2rem;
          width: 100%; margin-bottom: 3rem;
          align-items: center;
          h4 { 
            font-size: 1.6rem;
            span { 
              color:#828282;
              font-size: 1.5rem; 
              margin-left: 0.6rem;
            }
          }
          p {  font-size: 1.6rem; padding:1rem 0; font-weight: 500;}
          .button_wrap {  
            font-size: 1.5rem; margin-top: 2rem;
            position: relative;
            a {
              border:none; background:#F2F2F2 ;
              border-radius:0.7rem ;
              padding:1.5rem 3.2rem; cursor: pointer;
              transition: 0.3s;
              &:hover {
                background: $black;
                color:#fff
              }
            }
          }

         }
      }
    }
    }

    

  }
  .map_wrap { 
    width:100%;
    position: relative ; 
    
    div {
      top:2.5rem;
      height:82rem; 
      width:100%;
      position: absolute;
      
    }
  }

  /***/
.map_popup_search  {
  display: inline-block;
  width:100%;
    .search2_wrap {
      text-align: center;
    
      .sido {text-align: center; padding: 2rem 0;
        border-right:1px solid #ccc;
        border-top:none;
        border-left:none;
        border-bottom:none;

      }
      .gugun {text-align: center; border:none;
      }
      
    }
  }
}

.map_popup_wrap_mo {
    top:5rem;
    position: relative;
    width:100%;
    background: #d6d6d6;

    /*첫줄*/
    .map_popup_header { 
      border-top:1px solid #ccc;
      position: relative;
      width:100%;
      .search1 {

        input {
          padding: 3rem;
          width:70%;
          margin-left: 5rem;
          font-size: 2rem;
          border:none;
          outline:none; 
        }
        i {
          position: inherit;
          font-size: 2.5rem;
          top:33.33%;
          background: #f3f3f3;
          padding: 1.5rem;
          margin-left: 2rem;
          border-radius: 999rem;
          cursor: pointer;
          &:hover {
            background: $black;
            color:#fff;
          }
        }
      }
    }
    

    .search2_wrap {
      display: flex; 
      align-items: center;
      font-size:1.6rem ;
      text-align: center; position: relative; 
     
      .sido { 
        cursor:pointer;
        outline:none; 
        flex: 1; border-right: 1px solid #ccc;
      }
      .gugun {
        cursor:pointer;
        flex: 1; padding: 2rem;  outline:none; 
      }

    }
    
    .map_popup_scroll {

      &::-webkit-scrollbar { background-color: #fff; width: 3rem;  }
      &::-webkit-scrollbar-thumb { 
        background-color: #454545;
        border-radius: 5rem; height:2rem;
        background-clip: padding-box;
        border:1rem solid transparent;
      }
      &::-webkit-scrollbar-track { background-color: #ffffff;}
      
    }
    
    
    
  }
/* 매장찾기 서브페이지 찾기 - 1024px */
@media (max-width:9999px){ 
  .map_popup_wrap_mo  {display:none;}
}

/* 매장찾기 서브페이지 찾기 - 1024px */
@media (max-width:1024px){ 
  .map_popup_wrap_mo  {display:none;}
}

/* section 반응형 - 768px */
@media (max-width:768px){
  .map_popup_wrap {display:none;}
  .map_popup_wrap_mo {display:inline-block;background: #fff; }

  .map_wrap {
    display:none;
  }
  .search2_wrap {
    border-top:1px solid #ccc; border-bottom:1px solid #ccc;
    display: flex; 
    align-items: center;
    font-size:1.6rem ;
    text-align: center; position: relative; 
    .sido {flex: 1; border-right: 1px solid #ccc;}
    .gugun {flex: 1; padding: 2rem; }

  }

  .map_popup_scroll { 
    position: relative; 
    overflow: auto; height: 60rem;
    ul { 

      li { position: relative;
        display: flex;
        padding:5rem 5rem; 
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        h4 { 
          font-size: 1.6rem;
          span { 
            color:#828282;
            font-size: 1.5rem; 
            margin-left: 0.6rem;
          }
        }
        p {  font-size: 1.6rem; padding:1rem 0; font-weight: 500; }
        .button_wrap {  
          margin-left: 2rem; margin-top: 1.6rem;
          font-size: 1.5rem;
          a {  
            border:none; background:#F2F2F2 ;
            border-radius:0.7rem ;
            padding:1.5rem 3.2rem; cursor: pointer;
            transition: 0.3s;
            &:hover {
              background: $black;
              color:#fff;
              font-weight: bold;
            }
          }
        }

       }
    }
  }
  
}

/* section 반응형 - 630px */
@media (max-width:630px) {
  .search1 {


    }

  .map_popup_scroll {
    position: relative; 
      overflow: auto; 
    
    ul {
      li {
        padding:0  0 0 7rem; padding-top:2rem;
          width: 100%; margin-bottom: 3rem;
          align-items: center;
          h4 { 
            font-size: 1.6rem;
            span { 
              color:#828282;
              font-size: 1.5rem; 
              margin-left: 0.6rem;
            }
          }
      }
      p {  font-size: 1.6rem; padding:1rem 0; font-weight: 500;}
          .button_wrap {  
            font-size: 1.5rem; margin-top: 2rem;
            position: relative;
            a { display: inline-block; margin-bottom: 1rem;
              border:none; background:#F2F2F2 ;
              border-radius:0.7rem ;
              padding:1.5rem 2rem; cursor: pointer;
              transition: 0.3s;
              &:hover {
                background: $black;
                color:#fff
              }
            }
          }
    }

    // .button_wrap {  
    //    margin: none;
    //   font-size: 1.5rem; 
    //   a {  position: relative;
    //     display: flex;margin-bottom: 2rem;
    //     border:none; background:#F2F2F2 ;
    //     border-radius:0.7rem ;
    //     padding:1.5rem 3.2rem; cursor: pointer;
    //     transition: 0.3s;
    //     &:hover {
    //       background: $black;
    //       color:#fff;
    //       font-weight: bold;
    //     }
    //   }
    // }
  }
}
/* section 반응형 - 450px */
@media (max-width:450px) {
  .search1 {


    i { display: none;
      position: inherit;
      font-size: 1rem;
      top:33.33%;
      background: #f3f3f3;
      padding: 1.5rem;
      margin-left: 2rem;
      border-radius: 999rem;
      cursor: pointer;
      &:hover {
        background: $black;
        color:#a77878;
      }
    }
  }
}
