$blue : #2471B4;
$red : #E71C29;
$black : #322F2F;
$white : #F5F5F5; 
$pre : 'Pretendard-Regular', sans-serif;
$jom : "Jomhuria", serif;

@mixin set-box ($height, $width:100%, $border-radius:0){
  height: $height;
  width: $width;
  border-radius: $border-radius;
}

@mixin set-1440 ($height:auto){
  max-width: 1440px;
  height: $height;
  margin: 0 auto;
}
