@charset "UTF_8";
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


.de_header {
  background: url('../img/de_header1.png') center 10%;
  height: 45.6rem;
  text-align: center;
  padding: 16.7rem 0 0;

  p {
    font-family: $jom;
    font-size: 13rem;
    color: #fff;
    text-shadow: 0 0 1rem #222;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #fff;
    text-shadow: 0 0 1rem #222;

    li {

      a {
        font-size: 2rem;
      }
    }
  }
}
.de_menu {
  border-bottom: 2px solid #D8DCE0;
  margin-bottom: 14rem;
  ul {
    @include set-1440(12rem);
    display: flex;
    li {
      a {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 600;
        padding: 0 2.5rem;
        line-height: 12rem;
      }
    }
  }
}

.de_visual {
  @include set-border();
  @include set-1440();
  display: flex;
  justify-content: center;
  gap: 2rem;

  img {
    height: 60rem;
  }
  .de_visual_op {
    .de_visual_op_txt {
      margin-bottom: 2.5rem;
      h2 {
        font-size: 4rem;
        font-weight: 700;
        color: $red;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      a {
        font-size: 1.2rem;
        color: #999;
        &:hover {
          color: #6d6d6d;
        }
      }
    }
    .de_visual_op_size {
      padding-bottom: 4rem;
      border-bottom: 1px solid #999999;
      .size_btn {
        border: 0.3rem solid $red;
        background: #fff;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 2rem;
        border-radius: 20rem;
      }
      .size_btn:first-child {
        margin-right: 3rem;
      }
    }
  }
}








/**********1024이하********/
@media (max-width:1024px){
  .de_header {
    background: url('../img/de_header2.png') center center / cover;
  }
}
